<template>
  <div> 
    <Toolbar 
      :toolbarTittle='toolbarTittle'
      :progressStatus='progressStatus'>
    </Toolbar>

    <ws-admindatatable :headers= 'headers' :itemlist= 'adminList' ref='adminlistToGrouptable'
       :itemType='itemType' ></ws-admindatatable>
    <br/>
    <v-btn color="success" @click="AddSelectedAdminsToGroup">{{ $t('Zu der Gruppe hinzufügen') }}</v-btn>
</div>
</template>

<script>
import {mapActions , mapGetters} from 'vuex'
import WsAdmindatatable from  '../../views/DatatableSelectItem.vue'
import Toolbar from '../../Components/ToolbarComp.vue'

export default {
  components: {
    WsAdmindatatable,
    Toolbar
  }, 
  data: () => ({  
      progressStatus: false,
      toolbarTittle: 'Nach Gruppe Hinzufügen',   
      search: '',
      itemType: 'ADMIN',
      adminList: [],
      headers: [
        {
          text: 'Angezeigter Name',
          align: 'left',
          sortable: false,
          value: 'displayName',
          class: 'headerTxt'
        },
        { text: 'E-mail', value: 'email' }
       
      ],
    }),
    computed: { 
       ...mapGetters( 'Admin',[
        'getAdminList'
      ]),
      ...mapGetters('AdminGroupsOpforAdmin', [
        'getAdminListFromAdminGroup'
      ]),
      ...mapGetters( 'Routing', [
        'getSelectedItem'
      ]),
    },
     methods: {
      ...mapActions( 'Admin', [
      'GET_ADMIN_LIST',
      'ADD_ADMIN'
    ]),
    ...mapActions('AdminGroupsOpforAdmin',[
        'GET_ADMIN_LIST_FROM_ADMINGROUP_BY_ID',
        'ADD_ADMIN_LIST_TO_ADMINGROUP'     
     ]),

      loadRequiredData(){
        this.progressStatus = true

        this.GET_ADMIN_LIST()
        .then( () => {
          console.log(this.getAdminList)
          return this.GET_ADMIN_LIST_FROM_ADMINGROUP_BY_ID(this.getSelectedItem.data.id)
        })
        .then( () => {
          this.progressStatus = false
          this.loadAllSelectedAdminsofGroup()
        })
        .catch(err => {
          this.progressStatus = false
          console.error(err)
        })         
      },
      loadAllSelectedAdminsofGroup(){
        var mapped = this.getAdminListFromAdminGroup.map( groupAdmin => groupAdmin.id )
        this.getAdminList.forEach( admin => {
          if(mapped.includes(admin.id)){
            admin.selected = true
          }else{
            admin.selected = false
          }
        })
        this.adminList = this.getAdminList
      },
      AddSelectedAdminsToGroup(){
        var selectedIds = []
        this.$refs.adminlistToGrouptable.itemlist.forEach(item => {
            if(item.selected === true)
            selectedIds.push(item.id)
        })
        var inpuData = { "admin": [] }
        inpuData.admin = selectedIds
        var dataToSend = {
          data: inpuData, 
          adminGroupId: this.getSelectedItem.data.id
        }
        this.ADD_ADMIN_LIST_TO_ADMINGROUP(dataToSend)
        .then(response => {
          this.$router.push(`/AdminGroup/${response.data.message}`) 
        })
        .catch( err => {
          console.error(err)
          let msg = err.response.data.errors.map( error => error.message)
          this.alert.messages = msg
          this.alert.visible = true
        })
      }
    },
    mounted(){
       this.loadRequiredData()
    }
  }
</script>