<template>
<div> 
  <Toolbar 
  :toolbarTittle='toolbarTittle'
  :progressStatus='progressStatus'>
  </Toolbar>


  <v-layout>
    <v-flex xs12>
        <v-alert
        v-model="alert.visible"
        type="error"
        dismissible
        >
            <ul>
                <li v-for="(msg, index) in alert.messages" :key="index">
                    <div class="text-capitalize">{{ msg }}</div>
                </li>
            </ul>
        </v-alert>
    </v-flex>
  </v-layout>

  <ws-userdatatable 
  :headers= 'headers' 
  :itemlist= 'userList' 
  ref='userlistGrouptable' 
  :itemType='itemType'
  :tableTittle='tableTittle'
  :search="search">
  </ws-userdatatable>

  <br/>
    <v-btn color="success" @click="addSelectedUsersToGroup">{{ $t('Zu der Gruppe hinzufügen') }}</v-btn>
</div>
</template>

<script>
import {mapActions , mapGetters} from 'vuex'
import WsUserdatatable from  '../../views/DatatableSelectItem.vue'
import Toolbar from '../../Components/ToolbarComp.vue'

 export default {
    data: () => ({
      progressStatus: false, 
      tableTittle: 'Nutzer',
      toolbarTittle: 'Zur Gruppe Hinzufügen',     
      search: '',
      itemType: 'USER',
      userList:[],
      headers: [
        {
          text: 'Angezeigter Name',
          align: 'left',
          sortable: false,
          value: 'displayName',
          class: 'headerTxt'
        },
        { text: 'E-mail', value: 'email' }
      ],        
      alert: {
            visible: false,
            messages: [],
            timer: ''
        },
    }),
    computed: { 
       ...mapGetters( 'User',[
        'getUserList'
      ]),
      ...mapGetters( 'Routing', [
        'getSelectedItem'
      ]),
      ...mapGetters('UserGroupsOpforUser', [
        'getUserListFromUserGroup'
      ])
    },
    methods: {
      ...mapActions( 'User', [
        'GET_USER_LIST',
        'ADD_ADMIN'
      ]), 
      ...mapActions('UserGroupsOpforUser',[
          'GET_USER_LIST_FROM_USERGROUP_BY_ID',
          'ADD_USER_TO_USERGROUP'     
      ]),
      loadRequiredData(){
        this.progressStatus = true

        this.GET_USER_LIST()
        .then( () => {
          return this.GET_USER_LIST_FROM_USERGROUP_BY_ID(this.getSelectedItem.data.id)
        })
        .then( () => {
          this.progressStatus = false
          this.loadAllSelectedUsersofGroup()
        })
        .catch(err => {
          this.progressStatus = false
          console.error(err)
        })
      },
      loadAllSelectedUsersofGroup(){   
        var mapped = this.getUserListFromUserGroup.map( groupUser => groupUser.id )
        this.getUserList.forEach( user => {
          if(mapped.includes(user.id)){
            user.selected = true
          }else{
            user.selected = false
          }
        })
        this.userList = this.getUserList
        console.log(this.userList)
      },
      

      addSelectedUsersToGroup(){
        var selectedIds = []
        this.$refs.userlistGrouptable.itemlist.forEach(item => {
            if(item.selected === true)
            selectedIds.push(item.id)
        })
        var inpuData = { "users": [] }
        inpuData.users = selectedIds
        var dataToSend = {
          data: inpuData, 
          userGroupId: this.getSelectedItem.data.id
        }
        this.ADD_USER_TO_USERGROUP(dataToSend)
        .then(response => {
          this.$router.push(`/UserGroup/${response.data.message}`) 
        })
        .catch( err => {
          console.error(err)
          let msg = err.response.data.errors.map( error => error.message)
          this.alert.messages = msg
          this.alert.visible = true
        })
      }
     
    },
    components: {
       WsUserdatatable,
       Toolbar
    },
    mounted(){
       this.loadRequiredData()   
    }
  }

</script>