<template>
<div>
  <Toolbar 
  :toolbarTittle='toolbarTittle'
  :progressStatus="progressStatus">
  </Toolbar>


  <v-snackbar
    v-model="alertSnackbar.show"
    :top="alertSnackbar.top"
    :multi-line="alertSnackbar.multiline"
    :timeout="alertSnackbar.timeout">
    {{alertSnackbar.text}}
  </v-snackbar> 


  <v-layout column> 
  <ws-admingrouplist 
    :headers= 'headers' 
    :itemlist= 'getAdminGroupsList' 
    :search = 'search' 
    :itemObject= 'groupObject'
    :tableTittle ='tableTittle' 
    :itemType='itemType'
    v-on:selectedItem="setSelectedItem" 
    v-on:changeEditMode="changeEditMode">
  </ws-admingrouplist>
    <v-layout row fill-height align-end justify-end>
      

        <v-flex xs2 sm1 md1 lg1 xl1>
          <v-fab-transition>
            <v-btn
              v-show="editMode"
              color="teal accent-3"
              fab
              bottom
              fixed
              @click="addAdminsToGroup">
              <v-icon color="white">supervisor_account</v-icon>
            </v-btn>
          </v-fab-transition>
        </v-flex>

        <v-flex xs2 sm1 md1lg1 xl1>
          <v-fab-transition>
          <v-btn
            v-show="editMode"
            color="error"
            fab
            bottom
            fixed
            @click="deleteAdminGroup">
            <v-icon color="white">delete</v-icon>
          </v-btn>
          </v-fab-transition>
        </v-flex>

        <v-flex xs2 sm1 md1 lg1 xl1>
          <v-fab-transition>
          <v-btn
            v-show="editMode"
            color="amber darken-1"
            fab
            bottom
            fixed
            @click="updateAdminGroup">
            <v-icon color="white">edit</v-icon>
          </v-btn>
          </v-fab-transition>
        </v-flex>

      <v-flex xs2 sm1 md1 lg1 xl1>
        <v-btn
          color="primary"
          fab
          bottom
          fixed
          @click="addAdminGroup">
          <v-icon color="white">add</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
  </v-layout>
</div>
</template>


<script>
import {mapActions , mapGetters} from 'vuex'
import WsAdmingrouplist from  '../../views/WiselabTable.vue'
import Toolbar from '../../Components/ToolbarComp.vue'

export default {
    components: {
      WsAdmingrouplist,
      Toolbar
    },
    data: () => ({
      progressStatus: false,
      toolbarTittle: 'Gruppe',     
      search: '',
      tableTittle : 'Admin Gruppe',
      itemType: 'ADMINGROUP',
      itemName: 'Admin Gruppe',
      alertSnackbar: {
        show: false,
        top: true,
        timeout: 2000,
        text: '',
        multiline: true
      },
      headers: [
        {
          text: 'Gruppe',
          align: 'left',
          sortable: false,
          value: 'name',
          class: 'headerTxt'
        },
        { text: 'Beschreibung', value: 'description' }
      ],
      groupObject : {
        id: "agQZ31k",
        name: "Shasha",
        description: "Mex"
      },
      editMode: false,
      selectedItem: []    
    }),
    props: {

    },
    computed: { 
       ...mapGetters( 'AdminGroupsOp',[
        'getAdminGroupsList',
        'getSelectedAdminGroup'
      ]),
      ...mapGetters( 'General',[
        'accesstoken'
      ])
    },
    methods: {
      ...mapActions( 'Routing', [
        'SELECT_ITEM_FOR_ROUTE'
      ]),
      ...mapActions( 'AdminGroupsOp', [
        'GET_ADMINGROUP_LIST',
        'SELECT_ADMINGROUP'
      ]),
      LoadAdminGroupsData(){
        this.progressStatus = true
        this.GET_ADMINGROUP_LIST({ })
        .then( () => {
          this.progressStatus = false
        })
        .catch(err => {
          this.progressStatus = false
        })
      },
      addAdminGroup(){
        this.SELECT_ITEM_FOR_ROUTE(this.getSelectedAdminGroup)
        .then( () => {
          this.$router.push(`/AddAdminGroup/`)   
        })
      },
      addAdminsToGroup()
      {
        this.$router.push(`/AddAdminToGroup`)
      },
      updateAdminGroup() {
        this.$router.push(`/UpdateAdminGroup`)
      },
      deleteAdminGroup() {
        this.$router.push(`/DeleteAdminGroup`)
      },
      changeEditMode(mode) {
        this.editMode = mode
      },
      setSelectedItem(item) {
        this.SELECT_ADMINGROUP(item)
          .then( () => {
            this.SELECT_ITEM_FOR_ROUTE(this.getSelectedAdminGroup)
          })
      }    
    },
    mounted(){
      if(this.$route.params.message) {
        this.alertSnackbar.text = this.$route.params.message
        this.alertSnackbar.show = true
      }
      this.LoadAdminGroupsData()
    }
  }
</script>