<template>
<div>
  <Toolbar 
  :toolbarTittle='toolbarTittle'
  :progressStatus='progressStatus'>
  </Toolbar>

  <v-snackbar
    v-model="alertSnackbar.show"
    :top="alertSnackbar.top"
    :multi-line="alertSnackbar.multiline"
    :timeout="alertSnackbar.timeout">
    {{alertSnackbar.text}}
  </v-snackbar> 

  <v-layout column height="100%"> 
  <WsUsergrouplist 
    :headers= 'headers' 
    :itemlist= 'getUserGroupList' 
    :search = 'search' 
    :itemObject= 'groupObject'
    :tableTittle ='tableTittle' 
    :itemType='itemType'
    :expand = 'null'
    :selected = 'null'
    v-on:selectedItem="setSelectedItem" 
    v-on:changeEditMode="changeEditMode">
  </WsUsergrouplist>
  <v-layout row fill-height align-end justify-end>
    <v-flex xs2 sm1 md1 lg1 xl1>
      <v-fab-transition>
        <v-btn
          v-show="editMode"
          color="teal accent-3"
          fab
          bottom
          fixed
          @click="addUserToGroup">
          <v-icon color="white">supervisor_account</v-icon>
        </v-btn>
        </v-fab-transition>
      </v-flex>
      <v-flex xs2 sm1 md1lg1 xl1>
      <v-fab-transition>
          <v-btn
            v-show="editMode"
            color="error"
            fab
            bottom
            fixed
            @click="deleteUserGroup">
            <v-icon color="white">delete</v-icon>
          </v-btn>
      </v-fab-transition>
      </v-flex>
      <v-flex xs2 sm1 md1 lg1 xl1>
        <v-fab-transition>
          <v-btn
            v-show="editMode"
            color="amber darken-1"
            fab
            bottom
            fixed
            @click="updateUserGroup">
            <v-icon color="white">edit</v-icon>
          </v-btn>
        </v-fab-transition>
      </v-flex>
    <v-flex xs2 sm1 md1 lg1 xl1>
      <v-btn
        color="primary"
        fab
        bottom
        fixed
        @click="addUserGroup">
        <v-icon color="white">add</v-icon>
      </v-btn>
    </v-flex>
  </v-layout>
</v-layout>
</div>
</template>

<script>
import {mapActions , mapGetters} from 'vuex'
import WsUsergrouplist from '../../views/WiselabTable.vue'
import Toolbar from '../../Components/ToolbarComp.vue'

export default {
    components: {
      WsUsergrouplist,
      Toolbar
    },
    data: () => ({
      progressStatus: false,
      toolbarTittle: 'Gruppe', 
      wsdialog: false,
      search: '',
      tableTittle : 'Nutzer Gruppe',
      itemType: 'USERGROUP',
      alertSnackbar: {
        show: false,
        top: true,
        timeout: 2000,
        text: '',
        multiline: true
      },
      headers: [
        {
          text: 'Gruppe',
          align: 'left',
          sortable: false,
          value: 'name',
          class: 'headerTxt'
        },
        { text: 'Beschreibung', value: 'description' }
      ],
      groupObject : {
        id: "agQZ31k",
        name: "Shasha",
        description: "Mex"
      },
      editMode: false,
      selectedItem: []  
    }),
    props: {

    },
    computed: {        
    ...mapGetters( 'General',[
      'accesstoken'
    ]),
    ...mapGetters( 'UserGroupsOp', [
      'getUserGroupList',
      'getSelectedUserGroup'
    ]),
    ...mapGetters( 'Routing', [
        'getSelectedItem'
      ]),
    },
     methods: {
      ...mapActions( 'Routing', [
        'SELECT_ITEM_FOR_ROUTE'
      ]),
      ...mapActions( 'UserGroupsOp', [
        'GET_USERGROUP_LIST',
        'SELECT_USERGROUP',
      ]),
      loadUserGroupData(){
        this.progressStatus = true
        this.GET_USERGROUP_LIST({ })
        .then( () => {
          this.progressStatus = false
          // progressBar

          
        })
        .catch(err => {
          this.progressStatus = false
          //progressBar


        })
      },
      addUserGroup() {
        this.SELECT_ITEM_FOR_ROUTE(this.getSelectedUserGroup)
        .then( () => {
          this.$router.push(`/AddUserGroup/`)   
        })
      },
      addUserToGroup()
      {
        this.$router.push(`/AddUserToGroup`)
      },
      updateUserGroup() {
        this.$router.push(`/UpdateUserGroup/`)
      },
      deleteUserGroup() {
        this.$router.push(`/DeleteUserGroup/`)
      },
      changeEditMode(mode) {
        this.editMode = mode
      },
      setSelectedItem(item) {
        this.SELECT_USERGROUP(item)
          .then( () => {
            this.SELECT_ITEM_FOR_ROUTE(this.getSelectedUserGroup)
          })
      }    
    },
    mounted(){
      if(this.$route.params.message) {
        this.alertSnackbar.text = this.$route.params.message
        this.alertSnackbar.show = true
      }
       this.loadUserGroupData()
    }
  }
</script>
