<template>
  <div>
    <Toolbar :toolbarTittle="toolbarTittle"></Toolbar>
    <v-card>
      <v-card-title>
        <v-container>
          <font size="2">P.Mex am 11.03.2019</font>
          <p>
            <font size="5">Wann werden Fragen bearbeitet?</font>
          </p>
        </v-container>
        <v-flex class="text-xs-center">
          <v-chip color="primary" text-color="white">Bearbeitungszeit</v-chip>
          <v-chip color="primary" text-color="white">pending</v-chip>
          <v-chip color="primary" text-color="white">zu bearbeiten</v-chip>
        </v-flex>
      </v-card-title>
    </v-card>

    <v-layout row>
      <v-card>
        <v-card-title>
          <v-flex xs8>
            <v-select v-model="select" :items="items" box single-line></v-select>
          </v-flex>
        </v-card-title>
      </v-card>
    </v-layout>
  </div>
</template>


<script>
import Toolbar from "../../Components/ToolbarComp.vue";
export default {
  data: () => ({
    toolbarTittle: "Frage beantworten",
    select: { text: "Veröffentlichen" },
    items: [
      { text: "Veröffentlichen" },
      { text: "Nicht öffentlich" },
      { text: "Frage löschen" }
    ]
  }),

  components: {
    Toolbar
  }
};
</script>

