<template>

<div class="hide-overflow" style="position:relative;">
    <Toolbar 
    :toolbarTittle='toolbarTittle'>
    </Toolbar>

    <!-- ALERT -->
    <v-layout>
            <v-flex xs12>
                <v-alert
                v-model="alert.visible"
                type="error"
                dismissible
                ref="alertInput">
                    <ul>
                        <li v-for="(msg, index) in alert.messages" :key="index">
                            <div class="text-capitalize">{{ msg }}</div>
                        </li>
                    </ul>
                </v-alert>
            </v-flex>
        </v-layout>

    <v-progress-linear v-show="progressStatus" :indeterminate="progressStatus"></v-progress-linear>
    <div id="scrilling-techniques" class="scroll-y">
        <v-container>
            <v-layout row wrap>
                <v-flex xs12>
                    <v-text-field label="E-mail*" v-model="inputData.email" type="email" required disabled></v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-text-field
                    label="Angezeigtername*"            
                    required v-model="inputData.displayName"
                    :rules="[rules.required]"></v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-text-field label="Vorname" v-model="inputData.firstName" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-text-field label="Nachname" v-model="inputData.lastName"></v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-text-field label="Handynummer" v-model="inputData.mobileNo" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-checkbox label="Aktiv" v-model="inputData.active" type="text" required></v-checkbox>
                </v-flex>

                <v-flex xs12><v-divider></v-divider></v-flex>

                <v-flex xs12>
                    <v-text-field
                        v-model="passwordChange.currentPassword"
                        :append-icon="passwordVisible.currentPasswordV ? 'visibility_off' : 'visibility'"
                        :type="passwordVisible.currentPasswordV ? 'text' : 'password'"
                        label="Aktuell Passwort"
                        @click:append="passwordVisible.currentPasswordV = !passwordVisible.currentPasswordV"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-text-field
                        v-model="passwordChange.newPassword"
                        :append-icon="passwordVisible.newPasswordV ? 'visibility_off' : 'visibility'"
                        :type="passwordVisible.newPasswordV ? 'text' : 'password'"
                        label="Neues Passwort"
                        @click:append="passwordVisible.newPasswordV = !passwordVisible.newPasswordV"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-text-field
                        v-model="passwordChange.confirmPassword"
                        :rules="[rules.match]"
                        :append-icon="passwordVisible.newPasswordConfirmV ? 'visibility_off' : 'visibility'"
                        :type="passwordVisible.newPasswordConfirmV ? 'text' : 'password'"
                        label="Neues Passwort Bestätigen"
                        @click:append="passwordVisible.newPasswordConfirmV = !passwordVisible.newPasswordConfirmV"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12>
                    <div class="blue--text text--lighten-1">*{{ $t('Pflichtfeld') }}</div>
                </v-flex>
            </v-layout>
             <v-card-actions>
                <v-layout align-end justify-end row>
                    <v-btn flat  color="primary" @click="cancel">{{ $t ('Abbrechen') }}</v-btn>
                    <v-btn color="primary"  @click="update">{{ $t('Aktualisieren') }}</v-btn>
                </v-layout>
            </v-card-actions>
        </v-container>
    </div>
</div>

</template>

<script>
import {mapActions, mapGetters} from 'vuex'
// import * as easing from 'vuetify/es5/util/easing-patterns'
import Toolbar from '../ToolbarComp.vue'

export default {
    components: {
        Toolbar
    },
    data: () => ({
        toolbarTittle: '',
        passwordVisible: {
            currentPasswordV: false,
            newPasswordV: false,
            newPasswordConfirmV: false
        },
        passwordChange: {
            currentPassword: "",
            newPassword: "",
            confirmPassword: "",
            isEmailNotification: true
        },
        inputData: {},
        rules: {
            match: true,
            required: true
        },
        alert: {
            visible: false,
            messages: [],
            timer: ''
        },
        progressStatus: false
    }),
    computed: { 
        ...mapGetters( 'Routing',[
            'getSelectedItem',
        ]),
        ...mapGetters( 'General',[
            'accesstoken'
        ]),
        options() {
            return {
                duration: 1000,
                offset: 0,
                easing: 'easeInOutCubic'
            }
        },
        target () {
            const value = this['element']
            if (!isNaN(value)) return Number(value)
            else return value
        },
        element () {
            return this.$refs.alertInput
        }
    },
    methods: {
        ...mapActions('Routing',
        [
            'UPDATE_ITEM'
        ]),
        update() {
            var inputDataToSend = {
                inputData: this.inputData,
                passwordChange: this.passwordChange
            }
            this.UPDATE_ITEM(inputDataToSend)
            .then( response => {
                if(response.message) {
                    this.$router.push(`${this.getSelectedItem.path}/${response.message}`)}
                else {
                    this.$router.push(`${this.getSelectedItem.path}/`)}
            })
            .catch( err => {
                let msg = err.response.data.errors.map( error => error.message)
                this.alert.messages = msg
                this.alert.visible = true
                this.$vuetify.goTo(this.target, this.options)
            })
        },
        cancel() {
            this.$router.push(`${this.getSelectedItem.path}/`)
        }
    },
    mounted() {
        this.toolbarTittle = `${this.getSelectedItem.itemTittle} Bearbeiten`
        this.inputData = this.getSelectedItem.data
        this.rules = {
            match: value => value === this.passwordChange.newPassword || ("Das Bestätigungspasswort stimmt nicht überein."),
            required: value => !!value || 'Pflichtfeld'
        }
    }
}
</script>
