<template>

<div>
    <Toolbar 
    :toolbarTittle='toolbarTittle'>
    </Toolbar>
        
    <v-layout>
        <v-flex xs12>
            <v-alert
            v-model="alert.visible"
            type="error"
            dismissible
            ref="alertInput"
            >
                <ul>
                    <li v-for="(msg, index) in alert.messages" :key="index">
                        <div class="text-capitalize">{{ msg }}</div>
                    </li>
                </ul>
            </v-alert>
        </v-flex>
    </v-layout>
    
    <v-container>
        <v-layout wrap row>
            <v-flex xs12>
                <v-text-field label="Angezeigtername*" box v-model="inputData.displayName" :rules="[rules.required]" autofocus></v-text-field>
            </v-flex>
                <v-flex xs12>
                <v-text-field label="Email*" box v-model="inputData.email" type="email" :rules="[rules.required, rules.email]"></v-text-field>
            </v-flex>
            <v-flex xs12 >
                <v-text-field label="Vorname" box v-model="inputData.firstName" required></v-text-field>
            </v-flex>
            <v-flex xs12 >
                <v-text-field label="Nachname" box v-model="inputData.lastName"></v-text-field>
            </v-flex>
            <v-flex xs12 >
                <v-text-field label="Handynummer" box v-model="inputData.mobileNo"></v-text-field>
            </v-flex>

            <v-flex xs12 >
                <v-text-field
                    box
                    v-model="inputData.password"
                    :type="passwordVisible.newPasswordV ? 'text' : 'password'"
                    :append-icon="passwordVisible.newPasswordV ? 'visibility_off' : 'visibility'"
                    @click:append="passwordVisible.newPasswordV = !passwordVisible.newPasswordV"
                    label="Password*"
                    :rules="[rules.required]"
                    required
                ></v-text-field>
            </v-flex>

            <v-flex xs12 >
                <v-text-field
                    box
                    :type="passwordVisible.newPasswordConfirmV ? 'text' : 'password'"
                    :append-icon="passwordVisible.newPasswordConfirmV ? 'visibility_off' : 'visibility'"
                    @click:append="passwordVisible.newPasswordConfirmV = !passwordVisible.newPasswordConfirmV"
                    label="Password Confirm*"
                    :rules="[rules.match]"
                ></v-text-field>
            </v-flex>
            
            <v-flex xs12 sm6>
                <small color="blue"><div class="blue--text text--lighten-1">*{{ $t('Pflichtfeld') }}</div></small>
            </v-flex>

            <v-flex xs12>
                <v-checkbox label="Aktiv" v-model="inputData.active" type="text" required></v-checkbox>
            </v-flex>

            <v-flex xs12>
                <div class="blue--text text--lighten-1">{{getSelectedItem.itemTittle}} : {{ $t('Zu der Gruppe hinzufügen') }}</div>
                <v-btn @click="showUserGroup">{{ $t('Gruppe Wählen') }}</v-btn>
            </v-flex>

        </v-layout>
        <v-card-actions>
            <v-layout align-end justify-end row>
                <v-btn flat  color="primary" @click="cancel">{{ $t ('Abbrechen') }}</v-btn>
                <v-btn color="primary"  @click="add">{{ $t('Hinzufügen') }}</v-btn>
            </v-layout>
        </v-card-actions>
    </v-container>

        <v-dialog v-model="showPopupList" fullscreen transition="dialog-bottom-transition">
            <UserGroupList
            :itemList='getGroupList'
            :showAddButton='true'
            :toolbarTittle="getSelectedItem.itemTittle + 'gruppe wahlen'"
            v-on:dismissDialog="dismissUserGroupDialog"
            v-on:addItemEmit="addUserGroupEmit">
            </UserGroupList>
        </v-dialog>

        <v-dialog v-model="showPopupOption">
            <v-card>
                <v-card-title class="headline grey lighten-2">
                    {{ $t('Achtung') }}!
                </v-card-title>
                <v-card-text>
                    {{messagePopupOption}}, wollen Sie den {{getSelectedItem.itemTittle}} reaktivieren?
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat class="primary" @click="showPopupOption = false">{{ $t('Nein') }}</v-btn>
                    <v-btn class="primary" @click="reactivateUser">{{ $t('Ja') }}</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        
   
</div>

</template>

<script>
import {mapActions, mapGetters} from 'vuex'
import Toolbar from '../ToolbarComp.vue'
import UserGroupList from '../ListV2Comp.vue'

export default {
    components: {
        Toolbar,
        UserGroupList
    },
    data: () => ({
        toolbarTittle: '',
        passwordVisible: {
            newPasswordV: false,
            newPasswordConfirmV: false
        },
        showPopupList: false,
        showPopupOption: false,
        groupList: [],
        rules: {
            required: true,
            match: true,
            email: value => {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || 'Invalid e-mail.'
          }
        },
        alert: {
            visible: false,
            messages: [],
            timer: ''
        },
        messagePopupOption: '',
        inputData: {
            firstName: "",
            lastName: "",
            email: "",
            password: "",
            displayName: "",
            mobileNo: "",
            active: false
        },
        UserGroupList: [
            {
                id: 1,
                name: "Rikza Azriyan",
                description: "Desc"
            },
            {
                id: 2,
                name: "Misdiana Marisda",
                description: "Desc"
            }
        ],
        selectedUserGroupList: []
    }),
    computed: { 
            ...mapGetters( 'Routing',[
                'getSelectedItem',
                'getGroupList'
            ]),
            ...mapGetters( 'UserGroupsOp', [
                'getUserGroupList'
            ]),
            ...mapGetters( 'AdminGroupsOp', [
                'getAdminGroupsList'
            ]),
            ...mapGetters( 'General',[
                'accesstoken'
            ]),
            ...mapGetters( 'User', [
                'getDeletedUserList',
                'getSelectedUser'
            ]),
            options() {
                return {
                    duration: 1000,
                    offset: 0,
                    easing: 'easeInOutCubic'
                }
            },
            target () {
                const value = this['element']
                if (!isNaN(value)) return Number(value)
                else return value
            },
            element () {
                return this.$refs.alertInput
            }
        },
     methods: {
        add() {
            var dataToSend = {
                inputData: this.inputData,
                selectedList: this.selectedUserGroupList
            }
            this.ADD_ITEM(dataToSend)
            .then( response => {
                this.$router.push(`${this.getSelectedItem.path}/${response.message}`)
            })
            .catch( err => {
                console.error(err.response)
                if(err.response.data.errors[0].code == 4022) {
                    this.showPopupOption = true
                    this.messagePopupOption = err.response.data.errors[0].message
                }else {
                    let msg = err.response.data.errors.map( error => error.message)
                    this.alert.messages = msg
                    this.alert.visible = true
                    this.$vuetify.goTo(this.target, this.options)
                }
            })
        },
        cancel() {
            // this.$router.go(-1)
            this.$router.push(`${this.getSelectedItem.path}/`)
        },
        ...mapActions('Routing',
        [
            'ADD_ITEM',
            'UPDATE_ITEM',
            'SELECT_ITEM_FOR_ROUTE',
            'GET_GROUPS'
        ]),
        ...mapActions('UserGroupsOp',
        [
            'GET_ALL_USERGROUPS'
        ]),
        ...mapActions('AdminGroupsOp',
        [
            'GET_ALL_ADMINGROUPS'
        ]),
        ...mapActions('User',
        [
            'GET_USER_BY_ID',
            'GET_ALL_DELETED_USERS',
            'SELECT_USER'
        ]),
         ...mapActions('Admin',
        [
            'GET_ADMIN_BY_ID'
        ]),
        showUserGroup() {
            this.showPopupList = true
            this.showAddButton = true
        },
        dismissUserGroupDialog(selectedList) {
            this.selectedUserGroupList = selectedList
            this.showPopupList = false
        },
        reactivateUser() {
            if(this.getSelectedItem.itemType === "USER") {
                return this.GET_ALL_DELETED_USERS({})
                .then( response => {
                    var userToActivate = this.getDeletedUserList.filter( user => {
                        return this.inputData.email === user.email
                    })
                    return userToActivate
                })
                .then( userToActivate => {
                    this.SELECT_USER(userToActivate)
                    .then( () => {
                        this.SELECT_ITEM_FOR_ROUTE(this.getSelectedUser)
                    })
                    return userToActivate
                })
                .then(userToActivate => {
                    var inputDataToSend = {
                        inputData: userToActivate,
                        passwordChange: ''
                    }

                    console.log(inputDataToSend)
                    // this.UPDATE_ITEM(inputDataToSend)
                    // .then( response => {
                    //     console.log(response)
                    //     if(response.message) {
                    //     this.$router.push(`${this.getSelectedItem.path}/${response.message}`)}
                    //     else {
                    //     this.$router.push(`${this.getSelectedItem.path}/`)}
                    // })
                    // .catch( err => {
                    //     let msg = err.response.data.errors.map( error => error.message)
                    //     this.alert.messages = msg
                    //     this.alert.visible = true
                    //     this.$vuetify.goTo(this.target, this.options)
                    // })
                })   
            }else if(this.getSelectedItem.itemType === "ADMIN") {
                // this.SELECT_ADMIN(item)
                // .then( () => {
                //     this.SELECT_ITEM_FOR_ROUTE(this.getSelectedAdmin)
                //     this.$router.push(`/UpdateAdmin/`)
                // })
            }
        },

        addUserGroupEmit() {
            console.log("addUserGroupEmit")
            this.SELECT_ITEM_FOR_ROUTE(this.getSelectedUser)
            .then( () => {
                this.$router.push('/AddUserGroup')
            })
        }
    },
    watch: {
        toolbarTittle(change) {
            this.toolbarTittle = this.$t(change)
        }
    },
    mounted() {
        this.toolbarTittle = `${this.getSelectedItem.itemTittle} Hinzufügen`
        this.GET_GROUPS({})

        this.rules = {
            required: value => !!value || 'Pflichtfeld',
            match: value => value === this.inputData.password || ("Das Bestätigungspasswort stimmt nicht überein.")
        }
    }
}
</script>
