<template>
  <div>
    <Toolbar 
    :toolbarTittle="toolbarTittle"
    :progressStatus='progressStatus'></Toolbar>

    <v-layout>
      <v-flex xs12>
        <v-alert v-model="alert.visible" type="error" dismissible>
          <ul>
            <li v-for="(msg, index) in alert.messages" :key="index">
              <div class="text-capitalize">{{ msg }}</div>
            </li>
          </ul>
        </v-alert>
      </v-flex>
    </v-layout>

    <v-container fluid>
      <v-layout column>
        <v-flex xs12 sm6 md4>
          <v-text-field v-model="inputData.name" box :label="itemLabelName" clearable :rules="[rules.required]" autofocus></v-text-field>
        </v-flex>
        <v-flex xs12 sm6 md4>
          <v-text-field :label="itemLabelDescription" clearable box v-model="inputData.description"></v-text-field>
        </v-flex>
        <v-flex>
          <small>
            <div class="blue--text text--lighten-1">*{{ $t('Pflichtfeld') }}</div>
          </small>
        </v-flex>
      </v-layout>
      <v-card-actions>
        <v-layout align-end justify-end row>
          <v-btn flat color="primary" @click="cancel">{{ $t('Abbrechen') }} </v-btn>
          <v-btn color="primary" @click="add">{{ $t ('Hinzufügen')}}</v-btn>
        </v-layout>
      </v-card-actions>
    </v-container>
  </div>
</template>
<script>
    import {mapActions, mapGetters} from 'vuex'
    import Toolbar from '../ToolbarComp.vue'

    export default {
        components: {
            Toolbar
        },
        data: () => ({
            alert: {
                visible: false,
                messages: [],
                timer: ''
            },
            inputData : {
                name : "",
                description : ""
            },
            toolbarTittle: 'Hinzufügen',
            itemLabelName: '',
            itemLabelDescription: '',
            progressStatus: false,
            rules: {
              required: value => !!value || 'Pflichtfeld'
            }
        }),
        computed: { 
            ...mapGetters( 'Routing',[
                'getSelectedItem',
            ]),
            ...mapGetters( 'General',[
                'accesstoken'
            ])
        },
        methods: {
            add() {
                this.progressStatus = true
                this.ADD_ITEM(this.inputData)
                .then( response => {
                    this.progressStatus = false
                    if(response.message)
                        this.$router.push(`${this.getSelectedItem.path}/${response.message}`)
                    else 
                      this.$router.go(-1)  
                })
                .catch( err => {
                    this.progressStatus = false
                    let msg = err.response.data.errors.map( error => error.message)
                    this.alert.messages = msg
                    this.alert.visible = true
                })
            },
            cancel() {
              this.$router.go(-1)
                // this.$router.push(`${this.getSelectedItem.path}/`)
            },
            ...mapActions('Routing',
            [
                'ADD_ITEM'
            ])
        },
        mounted() {
            this.itemLabelName = `${this.getSelectedItem.itemTittle} Name*`
            this.itemLabelDescription = `${this.getSelectedItem.itemTittle} Beschreibung*`
            this.toolbarTittle =  `${this.getSelectedItem.itemTittle} Hinzufügen`
        }
    }
</script>