.headerTxt{
    color: blue;
  }

  .visible{
      display: inline;
  }

  .inVisible{
      display: none;
  }

  .footerSpace {
      height: "70px";
  }
  .dashBoard{
      font-weight: 700pt !important;
  }
  .mytable .v-table tbody td {
    font-size: 14px !important;
    color: black;
}
.mytable .v-table th {
    font-size: 15px !important;
    font-weight: 700 !important;
}