<template>
  <div>
    <Toolbar :toolbarTittle="toolbarTittle"></Toolbar>

    <v-tabs v-model="tab" grow>
      <v-tab key="Generic">{{ $t('Allgemein') }}</v-tab>
      <v-tab key="Email">{{ $t('E-mail') }}</v-tab>
      <v-tab key="Aufgaben">{{ $t('Aufgaben') }}</v-tab>

      <v-tab-item key="Generic">
        <v-layout>
          <v-flex>
            <v-card>
              <!-- <v-container>
                <h2 class="btn1">{{ $t ('System Einstellungen') }}</h2>
                <v-menu offset-y transition="scale-transition">
                  <v-btn slot="activator" color="primary" class="white--text" round >
                    <flag class="mr-2" :iso="selectedLanguage.icon"/>
                    {{selectedLanguage.text}}
                  </v-btn>
                  <v-list v-for="language in languages" :key="language.icon">
                    <v-list-tile @click="onClickDropdown(language)">
                      <v-list-tile-title>
                        <flag class="mx-2" :iso="language.icon"/>
                        {{language.text}}
                      </v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </v-container> -->
            </v-card>
          </v-flex>
        </v-layout>
      </v-tab-item>

      <v-tab-item key="Email">
        <v-layout>
          <v-flex>
            <v-card>
              <v-container>
                <h2>{{ $t('E-mail') }}</h2>
                <v-text-field
                  label="Email"
                  :rules="[rules.email]"
                  v-model="emailObject.email"
                  clearable
                ></v-text-field>
                <v-text-field
                  label="Host"
                  v-model="emailObject.host"
                  @input="change($event)"
                  clearable
                ></v-text-field>
                <v-text-field label="Email Sender Name" v-model="emailObject.userName" clearable></v-text-field>
                <v-text-field label="Passwort" v-model="emailObject.passwort" clearable></v-text-field>
                <v-text-field label="Protocol" v-model="emailObject.protocol" clearable></v-text-field>
                <v-text-field label="Port" v-model="emailObject.port" clearable></v-text-field>
              </v-container>
            </v-card>
          </v-flex>
        </v-layout>
      </v-tab-item>

      <v-tab-item key="Aufgaben">
        <v-card>
          <h2>{{ $t('Aufgaben') }}</h2>
        </v-card>
      </v-tab-item>
    </v-tabs>

    <v-layout fill-height align-end justify-end>
      <v-flex xs2 sm1>
        <v-btn color="primary" fab bottom fixed>
          <v-icon color="white">save</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
  </div>
</template>


<script>
import Toolbar from "../../Components/ToolbarComp.vue";

export default {
  name: "System_Settings",
  data: () => ({
    tab: null,
    toolbarTittle: "System Einstellungen",
    rules: {
      email: value =>
        /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(value) ||
        "Muss gültige E-Mail sein"
    },
    // selectedLanguage: { icon: "de", text: "Deutsch" },
    // languages: [
    //   { icon: "us", text: "English" },
    //   { icon: "de", text: "Deutsch" },
    //   { icon: "ua", text: "Українська" },
    //   { icon: "id", text: "Bahasa indonesia" },
    //   { icon: "tr", text: "Türkçe" }
    // ],
    emailObject: {
      email: "wiselab@wiselab.de",
      host: "",
      userName: "No Reply",
      passwort: "123123",
      protocol: "192.168.10.22",
      port: "8080"
    }
  }),

  // methods: {
  //   onClickDropdown(language) {
  //     this.selectedLanguage = language;
  //   },
  //   change(input) {
  //     if (input === "localhost") {
  //       this.emailObject.host = "127.0.0.1";
  //     }
  //   }
  // },

  components: {
    Toolbar
  }
};
</script>


<style>
.btn1 {
  margin-bottom: 5%;
}
</style>

