<template>
<div>
<Toolbar 
      :toolbarTittle='toolbarTittle'>
  </Toolbar>

  <v-layout>
      <v-flex xs12>
        <v-alert v-model="alert.visible" :type="alert.type" dismissible>
          <ul>
            <li v-for="(msg, index) in alert.messages" :key="index">
              <div class="text-capitalize">{{ msg }}</div>
            </li>
          </ul>
        </v-alert>
      </v-flex>
  </v-layout>

  <v-container fluid>
      <v-layout column>
        <v-flex xs12>
                    <v-text-field
                        v-model="passwordChange.currentPassword"
                        :append-icon="passwordVisible.currentPasswordV ? 'visibility_off' : 'visibility'"
                        :type="passwordVisible.currentPasswordV ? 'text' : 'password'"
                        label="Aktuell Passwort"
                        @click:append="passwordVisible.currentPasswordV = !passwordVisible.currentPasswordV"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-text-field
                        v-model="passwordChange.newPassword"
                        :append-icon="passwordVisible.newPasswordV ? 'visibility_off' : 'visibility'"
                        :type="passwordVisible.newPasswordV ? 'text' : 'password'"
                        label="Neues Passwort"
                        @click:append="passwordVisible.newPasswordV = !passwordVisible.newPasswordV"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-text-field
                        v-model="passwordChange.confirmPassword"
                        :rules="[rules.match]"
                        :append-icon="passwordVisible.newPasswordConfirmV ? 'visibility_off' : 'visibility'"
                        :type="passwordVisible.newPasswordConfirmV ? 'text' : 'password'"
                        label="Neues Passwort Bestätigen"
                        @click:append="passwordVisible.newPasswordConfirmV = !passwordVisible.newPasswordConfirmV"
                    ></v-text-field>
                </v-flex>

        <v-flex>
          <small>
            <div class="blue--text text--lighten-1">*{{ $t('Pflichtfeld') }}</div>
          </small>
        </v-flex>
      </v-layout>
      <v-card-actions>
        <v-layout align-end justify-end row>
          <v-btn flat color="primary" @click="cancel">{{ $t('Abbrechen') }} </v-btn>
          <v-btn color="primary" @click="changePassword">{{ $t ('Hinzufügen')}}</v-btn>
        </v-layout>
      </v-card-actions>
    </v-container>
</div>
</template>


<script>
import { mapGetters, mapActions } from "vuex"
import Toolbar from '../UserApp/UserToolbarComp.vue'

export default {
     components: {
       Toolbar
    },
  data: () => ({
            alert: {
                visible: false,
                messages: [],
                timer: '',
                type: 'error'
            },
            passwordVisible: {
            currentPasswordV: false,
            newPasswordV: false,
            newPasswordConfirmV: false
            },
            passwordChange : {
                currentPassword : "",
                newPassword : "",
                confirmPassword : ""
            },
            toolbarTittle: 'Passwort ändern',
            progressStatus: false,
            rules: {
              required: value => !!value || 'Pflichtfeld'
            }
      }),
        computed: {
        },
        methods: {
           ...mapGetters( 'General' ,[
              'getLoginUserDetails'
          ]),
          ...mapActions('User', [
                'UPDATE_USER_PASSWORD'
            ]),
          changePassword(){
            var dataToSend = {}
            var data = {}
            data.currentPassword = this.passwordChange.currentPassword
            data.newPassword = this.passwordChange.newPassword
            data.confirmPassword = this.passwordChange.confirmPassword
            data.isEmailNotification = true  // need confirmation to make it dynamic
            dataToSend.data = data
            dataToSend.id = this.$root.$store.state.General.loginUserDetails.id
            
            this.UPDATE_USER_PASSWORD(dataToSend)
                .then( response => {
                    this.progressStatus = false
                    if(response.data.message){
                          this.alert.messages[0] = response.data.message
                          this.alert.visible = true
                          this.alert.type = 'success'
                    }
                    else 
                      this.$router.go(-1)  
                })
                .catch( err => {
                    this.progressStatus = false
                    let msg = err.response.data.errors.map( error => error.message)
                    this.alert.messages = msg
                    this.alert.visible = true
                    this.alert.type = 'error'
                })
          },
          cancel(){
            this.$router.go(-1)
          }
        }
}
</script>