<template>
<div>
<Toolbar 
      :toolbarTittle='toolbarTittle'>
    </Toolbar>
<h4>User Archive </h4>
</div>
</template>


<script>
import Toolbar from '../UserApp/UserToolbarComp.vue'

export default {
     components: {
       Toolbar
    },
  data: () => ({
      toolbarTittle: 'Archiv',  
  })
}
</script>