<template>
<div>
    <Toolbar 
        :toolbarTittle='toolbarTittle'>
        </Toolbar>
    <h4>User Wiki </h4>
</div>
</template>


<script>
import Toolbar from '../UserApp/UserToolbarComp.vue'

export default {
     components: {
       Toolbar
    },
  data: () => ({
       toolbarTittle: 'Wiki',       
  })
}
</script>