<template>
    <div>
        <v-navigation-drawer
        :clipped="$vuetify.breakpoint.lgAndUp"
        v-model="drawer" class="dashBoard"
        fixed
        app
        >
        <v-toolbar flat class="transparent">
            <v-list class="pa-0">
              <v-list-tile avatar>
                <v-list-tile-avatar color="indigo">
                   <v-icon dark>account_circle</v-icon> <!-- dynamic image load //to do -->
                </v-list-tile-avatar>

                <v-list-tile-content class= 'flex body-1 primary--text font-weight-medium'  >
                  <v-list-tile-title> <span color="purple"> {{displayName}} </span></v-list-tile-title>
                  <v-list-tile-title> {{emailId}}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-toolbar>
        <v-list dense>
           <v-divider></v-divider>
          <template v-for="item in items">
              <v-list-group
              v-if="item.children"
              v-model="item.model"
              :key="item.text"
              :prepend-icon="item.model ? item.icon : item['icon-alt']"
              append-icon=""
            >            
              <v-list-tile slot="activator">
                <v-list-tile-content>
                  <v-list-tile-title>
                    {{ item.text }}
                  </v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile
                v-for="(child, i) in item.children"
                :key="i"
                :to="{path: '/' +  child.path }"
              >
              &nbsp; &nbsp;  <v-list-tile-action v-if="child.icon">
                  <v-icon>{{ child.icon }}</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title>
                    {{ child.text }}
                  </v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list-group>
            <v-list-tile v-else :key="item.text" :to="{path: '/' +  item.path }"  @click= "{item.click != '' ? logout_click() : ''}">
              <v-list-tile-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ item.text }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>

            <v-container> 
            <v-select 
              v-model="selectedLanguage"  
              :items="languages"
              item-text="longLang"
              item-value="shortLang"
              solo
              single-line
              >
              <template v-slot:selection="{ item }">
                <flag class="mx-2" :iso="item.shortLang"/>
                <div>{{item.longLang}}</div>
              </template>
              <template v-slot:item="{ item }">
                <flag class="mx-2" :iso="item.shortLang"/>
                <div>{{item.longLang}}</div>
              </template>
            </v-select>
          </v-container>  

        </v-list>
    </v-navigation-drawer>



      <!-- TOOLBAR -->
      <div>
        <v-toolbar
        :clipped-left="$vuetify.breakpoint.lgAndUp"
        color="primary"
        dark
        app
        fixed>
            <v-toolbar-side-icon @click.stop="drawer = !drawer" v-if="showDrawer"></v-toolbar-side-icon>
            <v-toolbar-title>
              {{toolbarTittle}}
            </v-toolbar-title>
            <v-spacer></v-spacer>  
            <v-btn v-if="showSearchButton" icon @click.stop="showSearchBarEmit(!showSearchBar)">
            <v-icon>search</v-icon>
            </v-btn>
            <v-btn v-if="showAddButton" icon @click="addItemEmit">
            <v-icon>add</v-icon>
            </v-btn>  
        </v-toolbar>
      </div>



      <!-- SEARCHBAR -->
      <v-text-field
        ref="searchBar"
        v-if="showSearchBar"
        v-model="searchingValue"
        box
        clearable
        label="Suchen"
        v-on:keyup="searchingItemEmit(searchingValue)"
        @click:clear="searchingItemEmit('')"
        hint="Bitte schreiben Sie die Suchbegriffe">
      </v-text-field>

    <!-- for future use -->
      <!-- STEPPER -->
      <!-- <div v-if="showStepper" @click="showSearchBarEmit(false)" >
        <v-stepper v-model="stepperPosition">
          <v-stepper-header>
            <template v-for="(item,index) in stepperItems">
              <v-stepper-step
              :complete="stepperPosition > (index+1)"
              :editable="item.editable"
              :step="item.step"
              :key="item.step"
              @click="changeStep(item)">
                {{item.text}}
                <small>{{item.selectedText}}</small>
              </v-stepper-step>
              <v-divider :key="item.step+'div'" v-if="index < (stepperItems.length-1)"></v-divider>
            </template>
          </v-stepper-header>
        </v-stepper>
      </div>

      <v-dialog v-model="progressStatus" persistent width="300">
        <v-card color="white" dark>
          <v-card-title
            class="headline primary"
            primary-title>
            Laden
          </v-card-title>
          <v-card-text>
            <v-progress-linear
              indeterminate
              color="primary"
              class="mb-0">
            </v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>

    <v-snackbar
      v-model="alertSnackbar.show"
      :top="alertSnackbar.top"
      :multi-line="alertSnackbar.multiline"
      :timeout="alertSnackbar.timeout"
    >{{alertSnackbar.text}}</v-snackbar> -->
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex"
export default {
  data: () => ({
    dialog: false,
    drawer: null,
    searchingValue: '',
    selectedLanguage: { shortLang: "de", longLang: "Deutsch"},
    languages: [
      { shortLang: "us", longLang: "English"},
      { shortLang: "de", longLang: "Deutsch"},
      { shortLang: "ru", longLang: "Русский"},
      { shortLang: "ua", longLang: "Українська"}
    ],
      items: [
        { icon: 'list', text: 'Aufgaben' , path: 'UserTasks', click:'' },
        { icon: 'insert_chart_outlined', text: 'Persönliche Statistik', path: 'UserDashboard' , click:'' },
        { icon: 'access_time', text: 'Archiv' , path: 'UserArchive', click:'' },
        { icon: 'chat', text: 'Wiki', path: 'UserWiki' , click:''},
        
        { icon: 'lock', text: 'Passwort ändern', path: 'UserChangePassword' , click:''},
        { icon: 'info', text: 'Impressum', path: 'UserImpressum' , click:''},
        { icon: 'exit_to_app', text: 'Abmelden',  path:' ', click: 'logout_click()' }
        
      ],
      routerList :[
        { name:'UserTasks'},
        { name:'UserDashboard'},
        { name:'UserArchive'},
        { name:'UserWiki'},
        { name:'UserChangePassword'},
        { name:'UserImpressum'},        
        { name:'Abmelden'},
      ],
      displayName: '',
      emailId: ''
    }),
    props : {
      showSearchBar: {
        default: false,
        type: Boolean
      },
      showAdd: {
        default: false,
        type: Boolean
      },
      stepperPosition: {
        default: 1,
        type: Number
      },
      alertSnackbar: {
        default: function() {
          return {
            show: false,
            top: true,
            timeout: 3000,
            text: '',
            multiline: true
          }
        },
        type: Object
      },
      showStepper: {
        default: false,
        type: Boolean
      },
      stepperItems: {
        default: function() {
          return [
              {text: '',href: '',step: "1",editable: false}
            ]
        },
        type: Array 
      },
      toolbarTittle: String,
      itemType: String,
      showSearchButton: Boolean,
      showAddButton: Boolean,
      progressStatus: Boolean,
      showDrawer: {
        default: true,
        type: Boolean
      }
    },
    methods: {
      searchingItemEmit(searchingValue){
        this.$emit('searchingItemEmit',searchingValue)
      },
      addItemEmit() {
        this.$emit('addItemEmit')
      },
      showSearchBarEmit(value) {
        this.$emit('showSearchBarEmit',value)
      },
      ...mapActions('General', [
        'LOGOUT'
      ]),
      logout_click() {
        alert('in log out')
        this.LOGOUT()
        .then(
          this.$router.push('/Login')
        )
      },
      changeStep(item) {
        if(item.editable === true) {
          this.stepperPosition = item.step
          this.$router.push(item.url)
        }
      },
    },
    mounted() {
        this.selectedLanguage = this.$root.$store.state.AppLanguage.selectedLanguage
        this.displayName = this.getLoginUserDetails['displayName']
        this.emailId = this.getLoginUserDetails['email']
  },
  computed: {
     ...mapGetters( 'General' ,[
      'getLoginUserDetails'
      ])
  },
    watch: {
      selectedLanguage(change) {
        this.$root.$store.state.AppLanguage.selectedLanguage = change
        this.$root.$i18n.locale = change
      }
    }
  }


</script>