<template>
  <div>
      <Toolbar 
        :toolbarTittle='toolbarTittle'
        :showSearchButton='true'
        :showStepper="true"
        :stepperItems='stepperItems'
        :stepperPosition='stepperPosition'
        :progressStatus='progressStatus'
        v-on:searchingItemEmit="searchingItem"
        v-on:showSearchBarEmit="showSearchBarEmit"
        :showSearchBar='showSearchBar'>
        </Toolbar>

      <CatalogGroupList 
      :listTittle='listTittle'
      :itemList='catalogGroupList'
      v-on:rowSelected='goToCatalogSubGroup'
      v-on:moreActionSelected='showPermissionSystem'>
      </CatalogGroupList>

      <PermissionPanel 
      :selectedItem='getSelectedCatalogGroup.data'
      :showPanel='showPermissionPanel'
      :permissionConst='permissionConst'
      v-on:updatePermission='updatePermission'>
      </PermissionPanel>

      <v-snackbar
        v-model="alertSnackbar.show"
        :top="alertSnackbar.top"
        :multi-line="alertSnackbar.multiline"
        :timeout="alertSnackbar.timeout">
        {{alertSnackbar.text}}
        <v-btn
          color="pink"
          flat
          @click="alertSnackbar.show = false">
          {{ $t('Schließen') }}
        </v-btn>
      </v-snackbar> 
  </div>
</template>

<script>
import WsTable from '../../WiselabTable.vue'
import {mapActions , mapGetters} from 'vuex'
import Toolbar from '../../../Components/ToolbarComp.vue'
import Breadcrumbs from '../../../Components/BreadcrumbsComp.vue'
import PermissionPanel from '../../../Components/PermissionPanelComp.vue'
import CatalogGroupList from '../../../Components/ListV1Comp.vue'

export default {
    components: {
      WsTable,
      Toolbar,
      Breadcrumbs,
      PermissionPanel,
      CatalogGroupList
    },
    data: () => ({
      showSearchBar: false,
      alertSnackbar: {
        show: false,
        top: true,
        timeout: 3000,
        text: '',
        multiline: true,
      },
      toolbarTittle: 'Berechtigungen - Kataloggruppe',
      listTittle: 'Kataloggruppe Auswählen',
      showPermissionPanel: false,
      search: '',
      progressStatus: true,
      stepperItems:[
        {
          text: 'Admin wählen',
          selectedText: '',
          editable: true,
          href: '',
          step: "1",
          url:'/Permission_Autoren'
        },
        {
          text: 'Kataloggruppe wählen',
          selectedText: '',
          editable: true,
          href: '',
          step: "2",
          url:'/Permission_Autoren_CatalogGroup'
        },
        {
          text: 'Kataloguntergruppe wählen',
          selectedText: '',
          editable: false,
          href: '',
          step: "3",
          url:'Permission_Autoren_CatalogSubGroup/'
        }
      ],
      permissionConst: [
        {
          id: 31,
          type: 'CREATE',
          label: 'Hinzufügen',
          icon: 'add',
          value: false 
        },
        {
          id: 32,
          type: "READ",
          label: 'Lesen',
          icon: 'visibility',
          value: false
        },
        {
          id: 33,
          label: 'Bearbeiten',
          icon: 'create',
          type: 'UPDATE',
          value: false
        },
        {
          id: 34,
          type: 'DELETE',
          label: 'Löschen',
          icon: 'delete',
          value: false
        },
      ],
      stepperPosition: 2,
      searchedCatalogGroups: []
    }),
    computed: {
        ...mapGetters( 'AdminPermission',['getAdminPermissionList']),
        ...mapGetters( 'CGOperations',[
          'getCatalogGroupList',
          'getSelectedCatalogGroup'
        ]),
        ...mapGetters('General', ['accesstoken']),
        ...mapGetters('Admin', ['getSelectedAdmin']),
        catalogGroupList: {
          //getter
          get: function() {
            return this.searchedCatalogGroups
          },
          //setter
          set: function(keyword) {
            this.searchedCatalogGroups = this.getCatalogGroupList.filter(catalogGroup =>{
              keyword = keyword.toLowerCase()
              return (catalogGroup.name.toLowerCase().includes(keyword) || catalogGroup.description.toLowerCase().includes(keyword) || keyword === '')
            })
          }
        }
    },
    methods: {
      ...mapActions( 'AdminPermission', [
        'GET_ADMIN_CATALOGGROUPPERMISSION_LIST',
        'ADD_CATALOGGROUP_PERMISSION_TO_ADMIN'
      ]),
      ...mapActions( 'CGOperations', [
        'GET_CATALOGGROUP_LIST',
        'SELECT_CATALOGGROUP'
      ]),
      ...mapActions('Routing', ['SELECT_ITEM_FOR_ROUTE']),
      getAllCatalogGroup() {
        this.progressStatus = true
        this.GET_CATALOGGROUP_LIST({ })
        .then(() => {
          this.progressStatus = false
          this.searchedCatalogGroups = this.getCatalogGroupList
        })
        .catch( err => {
          console.error(err)
        })
      },
      getAdminPermissionByCatalogGroupId(selectedCatalogGroupId) {
        this.progressStatus = true
        var dataToSend = {
          adminId : this.getSelectedAdmin.data.id,
          catalogGroupId : selectedCatalogGroupId
        }
        this.GET_ADMIN_CATALOGGROUPPERMISSION_LIST(dataToSend)
        .then(() => {
          this.getAdminPermissionList.forEach(p => {
            this.permissionConst.forEach(permission => {
              if(p.id == permission.id) permission.value = true
            })
          });
          this.progressStatus = false
          this.showPermissionPanel = true
        })
        .catch( err => {
          console.error(err)
        })
      },
      goToCatalogSubGroup(selectedCatalogGroup) {
        this.SELECT_CATALOGGROUP(selectedCatalogGroup)
          .then( () => {
            this.SELECT_ITEM_FOR_ROUTE(this.getSelectedCatalogGroup)
            .then( () => {
              this.$router.push(`/Permission_Autoren_CatalogSubGroup/`)
            })
          })
      },
      showPermissionSystem(selectedCatalogGroup) {
        this.progressStatus = true
        this.SELECT_CATALOGGROUP(selectedCatalogGroup)
        .then( () => {
          this.SELECT_ITEM_FOR_ROUTE(this.getSelectedCatalogGroup)
          .then( () => {
            this.progressStatus = false
            this.stepperItems[2].selectedText = this.getSelectedCatalogGroup.data.name
            this.getAdminPermissionByCatalogGroupId(this.getSelectedCatalogGroup.data.id)
          })
        })
          
      },
      updatePermission() {
        this.progressStatus = true
        this.showPermissionPanel = false
        var permissionToSend = []
        this.permissionConst.forEach(p =>{
          if(p.value == true)  permissionToSend.push(p.id)
        })
        var dataToSend = {
          adminId : this.getSelectedAdmin.data.id,
          catalogGroupId : this.getSelectedCatalogGroup.data.id,
          data : {
            permission: permissionToSend
          }
        }
        this.ADD_CATALOGGROUP_PERMISSION_TO_ADMIN(dataToSend)
        .then(response => {
          this.permissionConst.forEach(p => {
            p.value = false
          })
          this.alertSnackbar.text = response.data.message
          this.alertSnackbar.show = true
        })
        .catch(err => {
          console.error(err)
        })
        this.progressStatus = false
      },

      //COMPONENT EMITED FUNCTIONS
        clickOutside() {
          this.showSearchBar = false
        },
        searchingItem(searchingValue) {
          this.catalogGroupList = searchingValue
        },
        showSearchBarEmit(val) {
          this.showSearchBar = val
        },
        showDialogEmit(val) {
          this.showPermissionDialog = val
        }
    },
    mounted() {
      this.stepperPosition = 2
      this.stepperItems[0].selectedText = this.getSelectedAdmin.data.displayName
      this.getAllCatalogGroup()
    }
}
</script>
