<template>
    <div>

      <Toolbar 
      :toolbarTittle='toolbarTittle'
      :showSearchButton='true'
      :showStepper="true"
      :stepperItems='stepperItems'
      :stepperPosition='stepperPosition'
      :progressStatus='progressStatus'
      v-on:searchingItemEmit="searchingItem"
      v-on:showSearchBarEmit="showSearchBarEmit"
      :showSearchBar='showSearchBar'>
      </Toolbar>

      <CatalogSubgroupList 
      :listTittle='listTittle'
      :itemList='catalogSubgroupList'
      v-on:rowSelected='showPermissionSystem'
      v-on:moreActionSelected='showPermissionSystem'>
      </CatalogSubgroupList>

      <PermissionPanel 
      :selectedItem='getSelectedCatalogSubGroup.data'
      :showPanel='showPermissionPanel'
      :permissionConst='permissionConst'
      v-on:updatePermission='updatePermission'>
      </PermissionPanel>

      <v-snackbar
          v-model="alertSnackbar.show"
          :top="alertSnackbar.top"
          :multi-line="alertSnackbar.multiline"
          :timeout="alertSnackbar.timeout">
          {{alertSnackbar.text}}
          <v-btn
            color="pink"
            flat
            @click="alertSnackbar.show = false">
            {{ $t('Schließen') }}
          </v-btn>
        </v-snackbar> 
    </div>
</template>

<script>
import WsTable from '../../WiselabTable.vue'
import {mapActions , mapGetters} from 'vuex'
import Toolbar from '../../../Components/ToolbarComp.vue'
import Breadcrumbs from '../../../Components/BreadcrumbsComp.vue'
import PermissionPanel from '../../../Components/PermissionPanelComp.vue'
import CatalogSubgroupList from '../../../Components/ListV1Comp.vue'

export default {
    components: {
      WsTable,
      Toolbar,
      Breadcrumbs,
      PermissionPanel,
      CatalogSubgroupList
    },
    data: () => ({
      showSearchBar: false,
      showPermissionPanel: false,
      alertSnackbar: {
          show: false,
          top: true,
          timeout: 3000,
          text: '',
          multiline: true,
        },
      toolbarTittle: 'Berechtigungen - Kataloguntergruppe', 
      listTittle: 'Kataloguntergruppe Auswählen',
      search: '',
      progressStatus: false,
      stepperItems:[
        {
          text: 'Admin wählen',
          selectedText: '',
          editable: true,
          href: '',
          step: "1",
          url:'/Permission_Autoren'
        },
        {
          text: 'Kataloggruppe wählen',
          selectedText: '',
          editable: true,
          href: '',
          step: "2",
          url:'/Permission_Autoren_CatalogGroup'
        },
        {
          text: 'Kataloguntergruppe wählen',
          selectedText: '',
          editable: true,
          href: '',
          step: "3",
          url:'Permission_Autoren_CatalogSubGroup/'
        }
      ],
      permissionConst: [
        {
          id: 35,
          type: 'CREATE',
          label: 'Hinzufügen',
          icon: 'add',
          value: false 
        },
        {
          id: 36,
          type: 'READ',
          label: 'Lesen',
          icon: 'visibility',
          value: false
        },
        {
          id: 37,
          type: 'UPDATE',
          label: 'Bearbeiten',
          icon: 'create',
          value: false
        },
        {
          id: 38,
          type: 'DELETE',
          label: 'Löschen',
          icon: 'delete',
          value: false
        }
      ],
      stepperPosition:3,
      searchedCatalogSubgroups: []
    }),
    computed: {
        ...mapGetters( 'AdminPermission',['getAdminPermissionList']),
        ...mapGetters( 'CSGOperations',[
          'getCatalogSubGroupList',
          'getSelectedCatalogSubGroup']),
        ...mapGetters('General', ['accesstoken']),
        ...mapGetters('Routing', ['getSelectedItem']),
        ...mapGetters('Admin', ['getSelectedAdmin']),
        ...mapGetters('CGOperations', ['getSelectedCatalogGroup']),
        catalogSubgroupList: {
          //getter
          get: function() {
            return this.searchedCatalogSubgroups
          },
          //setter
          set: function(keyword) {
            this.searchedCatalogSubgroups = this.getCatalogSubGroupList.filter(catalogSubgroup =>{
              keyword = keyword.toLowerCase()
              return (catalogSubgroup.name.toLowerCase().includes(keyword) ||  keyword === '')
            })
          }
        }
    },
    methods: {
      ...mapActions( 'AdminPermission', [
        'GET_ADMIN_CATALOGSUBGROUPPERMISSION_LIST',
        'ADD_CATALOGSUBGROUP_PERMISSION_TO_ADMIN'
      ]),
      ...mapActions( 'CSGOperations', [
        'GET_CATALOGSUBGROUP_LIST',
        'SELECT_CATALOGSUBGROUP'
      ]),
      ...mapActions('Routing', ['SELECT_ITEM_FOR_ROUTE']),
      getAllCatalogSubgroup(catalogGroup) {
        this.progressStatus = true
          this.GET_CATALOGSUBGROUP_LIST(catalogGroup)
          .then( () => {
            this.searchedCatalogSubgroups = this.getCatalogSubGroupList
            this.progressStatus = false
          })
          .catch(err => {
            this.progressStatus = false
              console.error(err)
          })
          
      },
      getAdminPermissionByCatalogSubgroupId(selectedCatalogSubgroupId) {
        this.progressStatus = true
        var dataToSend = {
          adminId : this.getSelectedAdmin.data.id,
          catalogGroupId : this.getSelectedCatalogGroup.data.id,
          catalogSubgroupId : selectedCatalogSubgroupId
        }
        this.GET_ADMIN_CATALOGSUBGROUPPERMISSION_LIST(dataToSend)
        .then(() => {
          this.getAdminPermissionList.forEach(p => {
            this.permissionConst.forEach(permission => {
              if(p.id == permission.id) permission.value = true
            })
          })
          this.progressStatus = false
          this.showPermissionPanel = true
        })
      },
      showPermissionSystem(selectedCatalogSubgroup) {
        this.showToolbar = true
        this.progressStatus = true
        this.SELECT_CATALOGSUBGROUP(selectedCatalogSubgroup)
        .then( () => {
          this.SELECT_ITEM_FOR_ROUTE(this.getSelectedCatalogSubGroup)
          .then( () => {
            this.progressStatus = false
            this.stepperItems[2].selectedText = this.getSelectedCatalogSubGroup.data.name
            this.getAdminPermissionByCatalogSubgroupId(this.getSelectedCatalogSubGroup.data.id)
          })
        })
      },
      updatePermission() {
        this.progressStatus = true
        this.showPermissionPanel = false
        
        var permissionToSend = []
        this.permissionConst.forEach(p =>{
          if(p.value === true)  permissionToSend.push(p.id)
        })
        var dataToSend = {
          adminId : this.getSelectedAdmin.data.id,
          catalogGroupId : this.getSelectedCatalogGroup.data.id,
          catalogSubgroupId : this.getSelectedCatalogSubGroup.data.id,
          data : {
            permission: permissionToSend
          }
        }
        this.ADD_CATALOGSUBGROUP_PERMISSION_TO_ADMIN(dataToSend)
        .then(response => {
          this.progressStatus = false

          this.permissionConst.forEach(p => {
            p.value = false
          })
          this.alertSnackbar.text = response.data.message
          this.alertSnackbar.show = true
          this.stepperItems[2].selectedText = ''
        })
        .catch(err => {
          this.progressStatus = false

          console.error(err)
        })
      },

      //COMPONENT EMITED FUNCTIONS
        clickOutside() {
          this.showSearchBar = false
        },
        searchingItem(searchingValue) {
          this.catalogSubgroupList = searchingValue
        },
        showSearchBarEmit(val) {
          this.showSearchBar = val
        },
        showDialogEmit(val) {
          this.showPermissionDialog = val
        }
    },
    mounted(){
      this.showToolbar = true
      this.stepperPosition = 3
      this.stepperItems[0].selectedText = this.getSelectedAdmin.data.displayName
      this.stepperItems[1].selectedText = this.getSelectedCatalogGroup.data.name
      this.getAllCatalogSubgroup(this.getSelectedCatalogGroup.data)
    }
}
</script>
