<template>
    <div>

        <Toolbar 
        :toolbarTittle='toolbarTittle'
        :showStepper="true"
        :stepperItems='stepperItems'
        :stepperPosition='stepperPosition'
        :progressStatus='progressStatus'
        :showSearchButton='true'
        v-on:searchingItemEmit="searchingItem"
        v-on:showSearchBarEmit="showSearchBarEmit"
        :showSearchBar='showSearchBar'>
        </Toolbar>
  
        <PermissionPreviewDialog 
          :selectedItem='selectedAdmin'
          :permissionList='getAdminPermissionList'

          v-on:showDialogEmit='showDialogEmit'
          :showDialog='showPermissionDialog'>
        </PermissionPreviewDialog>

        <div v-if="adminList.length == 0">
            <v-container>
            <v-layout align-space-around justify-center row fill-height>
                <center>{{ $t ('Keine Daten verfügbar') }}</center>
            </v-layout>
            </v-container>
        </div>


        <v-layout column @click="clickOutside">
            <v-flex xs12>
              <v-list
                  v-for="(item,index) in adminList"
                  :key="item.displayName"
                  v-model="item.active" subheader>
                  <v-subheader v-if="index==0"><h2>{{ $t('Admin Auswählen') }}</h2></v-subheader>
                  <v-list-tile @click="selectAdmin(item)">
                  <v-list-tile-content>
                      <v-list-tile-title v-html="item.displayName"></v-list-tile-title>
                      <v-list-tile-sub-title v-html="item.email"></v-list-tile-sub-title>
                  </v-list-tile-content>
                  <v-list-tile-action>
                      <v-btn v-on:click.stop="showPermission(item)" icon><v-icon>info</v-icon></v-btn>
                  </v-list-tile-action>
                  </v-list-tile>
              </v-list>
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
import WsTable from '../../WiselabTable.vue'
import {mapActions , mapGetters} from 'vuex'
import Toolbar from '../../../Components/ToolbarComp.vue'
import PermissionPreviewDialog from '../../../Components/PermissionPreviewDialogComp.vue'
import Breadcrumbs from '../../../Components/BreadcrumbsComp.vue'
import { constants } from 'fs';

export default {
    components: {
      WsTable,
      Toolbar,
      PermissionPreviewDialog,
      Breadcrumbs
    },
    data: () => ({
      showSearchBar: false,
      toolbarTittle: 'Berechtigungen - Admin', 
      showPermissionDialog: false,
      selectedAdmin : {},
      search: '',
      stepperPosition: 1,
      stepperItems:[
        {
          text: 'Admin wählen',
          selectedText: '',
          editable: true,
          href: '',
          step: "1",
          url:'/Permission_Autoren'
        },
        {
          text: 'Kataloggruppe wahlen',
          selectedText: '',
          editable: false,
          href: '',
          step: "2",
          url:'/Permission_Autoren_CatalogGroup'
        },
        {
          text: 'Kataloguntergruppe wahlen',
          selectedText: '',
          editable: false,
          href: '',
          step: "3",
          url:'Permission_Autoren_CatalogSubGroup/'
        }
      ],
      permissionConst: [
        {
          id: 31,
          type: 'CREATE',
          label: 'Hinzufügen',
          icon: 'add',
          value: false 
        },
        {
          id: 32,
          type: "READ",
          label: 'Lesen',
          icon: 'visibility',
          value: false
        },
        {
          id: 33,
          label: 'Bearbeiten',
          icon: 'create',
          type: 'UPDATE',
          value: false
        },
        {
          id: 34,
          type: 'DELETE',
          label: 'Löschen',
          icon: 'delete',
          value: false
        },
      ],
      progressStatus: true,
      searchedAdmins: []
    }),
    watch: {
      stepperPosition(val) {
      }
    },
    computed: {
        ...mapGetters( 'Admin',['getAdminList','getSelectedAdmin']),
        ...mapGetters( 'AdminPermission',['getAdminPermissionList']),
        ...mapGetters('General', ['accesstoken']),
        ...mapGetters('Routing', ['getSelectedItem']),
        adminList: {
          //getter
          get: function() {
            return this.searchedAdmins
          },
          //setter
          set: function(keyword) {
            this.searchedAdmins = this.getAdminList.filter(admin =>{
              keyword = keyword.toLowerCase()
              return (admin.firstName.toLowerCase().includes(keyword) || admin.lastName.toLowerCase().includes(keyword) || admin.displayName.toLowerCase().includes(keyword) || admin.email.toLowerCase().includes(keyword) ||  keyword === '')
            })
          }
        }
    },
    methods: {
        ...mapActions('Admin', [
          'GET_ADMIN_LIST',
          'SELECT_ADMIN'
        ]),
        ...mapActions('AdminPermission', [
          'GET_ADMINPERMISSION_LIST_BY_ID',
          'GET_ADMINPERMISSION_BY_LINK',
          'GET_ALL_SYSTEM_PERMISSIONS'
        ]),
        ...mapActions('Routing', ['SELECT_ITEM_FOR_ROUTE']),
        getAllAdmin() {   // Getting All Admin
            this.progressStatus = true
            this.GET_ADMIN_LIST({ })
            .then( () => {
              this.searchedAdmins = this.getAdminList
              this.progressStatus = false
            })
        },
        showPermission(selectedAdmin) {
          this.selectedAdmin = selectedAdmin
          this.GET_ADMINPERMISSION_LIST_BY_ID(this.selectedAdmin.id)
          .then( () => {
            this.showPermissionDialog = true
          })
        },
        selectAdmin(selectedAdmin) {
          this.SELECT_ADMIN(selectedAdmin)
          .then( () => {
            this.SELECT_ITEM_FOR_ROUTE(this.getSelectedAdmin)
            .then( () => {
              this.$router.push(`/Permission_Autoren_CatalogGroup/`)
            })
          })
        },

        //COMPONENT EMITED FUNCTIONS
        clickOutside() {
          this.showSearchBar = false
        },
        searchingItem(searchingValue) {
          this.adminList = searchingValue
        },
        showSearchBarEmit(val) {
          this.showSearchBar = val
        },
        showDialogEmit(val) {
          this.showPermissionDialog = val
        }
    },
    mounted(){
      this.stepperPosition = 1
      this.getAllAdmin()
    }
}
</script>
