<template>
<div> 
    <Toolbar 
      :toolbarTittle='toolbarTittle'>
      </Toolbar>
        <h4>Dashboard</h4>
      <!-- !!!!!!!!to do!!!!!!! -->
    <!-- <v-card class= 'body-1' max-width = '700px' >
          
          <v-card-text>
            <v-container grid-list-md  class="body-2">
              <v-layout wrap>
                <v-flex xs12 sm6 md4>
                      <v-select   :items="typeItems"   box  label="Typ" ></v-select>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-select   :items="zeigenItems"   box  label="zeigen" ></v-select>
                </v-flex>
                <v-flex xs12 sm6 md4>
                   <v-select  :items="benutzerGruppeItems"  box  label="Benutzer Gruppe" ></v-select>
                </v-flex>
                <v-flex xs12>
                  <v-select :items="benutzerInGruppe"   box  label="Benutzer In Gruppe" ></v-select>
                </v-flex>
                <v-flex xs12>
                  <v-select   :items="yearPicker"   box  label="Jahr" ></v-select>
                </v-flex>
                <v-flex xs12>
                  <v-select   :items="monthsPicker"   box  label="Month" ></v-select>
                </v-flex>
               
              </v-layout>
            </v-container>            
          </v-card-text>     
        </v-card>
        <br/>
      <WiselabCharts :chartData= 'chartData'> </WiselabCharts> -->
</div>
</template>

<script>
import Toolbar from '../Components/ToolbarComp.vue'
import WiselabCharts from './WiselabBarcharts.vue'

export default {
    components: {
       Toolbar,
       WiselabCharts
    },
    data: () => ({
        toolbarTittle: 'Dashboard',
        chartData: [
              ['Tasks', '2015', '2016', '2017'],
              ['Q answered', 40],
              ['Q not answered', 10],
              ['Success',80],
              ['Failure', 20]
            ],
        typeItems : [ 'Quiz', 'Wissenbasis' ,'Alle'],
        zeigenItems : ['Benutzerwissen','Qualität' , 'Alle' ],
        benutzerGruppeItems : [ 'Alle' ],
        benutzerInGruppe: ['Alle'],
        yearPicker: ['Alle'],
        monthsPicker: ['Januar','Februar' , 'März','April','Mai' , 'Juni','Juli','August' , 'September','Oktober','November' , 'Dezember']
    }),

    methods: {
    },
    computed: {  
    },
}
</script>
