<template>
<v-card>
  <v-card-title>
    <h2>{{tableTittle}}</h2>
    <v-spacer></v-spacer>
    <v-text-field
      v-model="search"
      append-icon="search"
      label="Search"
      single-line
      hide-details
    ></v-text-field>
  </v-card-title>

  <v-data-table
    v-model="selected"
    :headers="headers"
    :items="itemlist"
    :pagination.sync="pagination"
    :itemtype="itemType"
    :search="search"
    select-all
    item-key="id"
    class="elevation-1">
    <template slot="headers" slot-scope="props">
      <tr>
        <th>
          <v-checkbox
            :input-value="props.all"
            :indeterminate="props.indeterminate"
            primary
            hide-details
            @click.stop="toggleAll">
          </v-checkbox>
        </th>
        <th style='text-align:left'
          v-for="header in props.headers"
          :key="header.text"
          :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
          @click="changeSort(header.value)">
          <v-icon small>arrow_upward</v-icon>
          {{ header.text }}
        </th>
      </tr>
    </template>
    <template slot="items" slot-scope="props">
      <tr :active="props.item.selected" >
        <td>
          <v-checkbox
            :input-value="props.item.selected"
            primary
            hide-details @click.native.once="checkboxClick(props.item)"
          ></v-checkbox>
        </td>
        <td>{{ props.item.displayName }}</td>
        <td>{{ props.item.email }}
            <span class="inVisible"> {{ props.item.id}}</span>
        </td>
      </tr>
    </template>
  </v-data-table>
</v-card>
  
</template>

<script>
  export default {
    data: () => ({
      pagination: {
        sortBy: 'firstName'
      },
      selected: [],
    }),
    props:{
      tableTittle: String,
      headers: Array,
      itemlist: Array,
      search: String,
      itemType: String
    },
    methods: {
      toggleAll () {
        if (this.selected.length) this.selected = []
        else this.selected = this.itemlist.slice()
      },
      changeSort (column) {
        if (this.pagination.sortBy === column) {
          this.pagination.descending = !this.pagination.descending
        } else {
          this.pagination.sortBy = column
          this.pagination.descending = false
        }
      },
      checkboxClick(selectedItem){
        selectedItem.selected = !selectedItem.selected; 
      }
    }
  }
</script>