<template>
    <div>
        <Toolbar 
        :toolbarTittle='toolbarTittle'>
        </Toolbar>   
    </div>
</template>

<script>
import Toolbar from '../Components/ToolbarComp.vue'

export default {
    components: {
        Toolbar
    },
    data: () => ({
        toolbarTittle: 'Impressum'
    })
}
</script>
