<template>
  <v-app id="wsLandingPage">
    <router-view name="LandingPageContent"> </router-view>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'
 export default {
    data: () => ({
      
    }),
    prop : {
      toolbarTittle : String
    },
    computed: {
    ...mapGetters('General', [
      'accesstoken'
    ])
  },
  methods:{
   
  }
 }
</script>