<template>
  <v-app id="inspire" :style="{'background-image': 'url(' + require('../assets/bg8.jpg') +  ') '} ">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>Wiselab {{ $t('Anmelden') }}</v-toolbar-title>
                <v-spacer></v-spacer>               
                    <!-- <v-icon large>code</v-icon> -->
                    <img src="@/assets/favicon-32x32.png" alt="Wiselab"/>               
               
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field  prepend-icon="person" name="login" label="Nutzername" type="text" clearable 
                    :error-messages="emailErrors" v-model="email" required  @input="$v.email.$touch()"  @blur="$v.email.$touch()">
                  </v-text-field>
                  <v-text-field id="wspassword"   prepend-icon="lock" @blur="$v.wspassword.$touch()" clearable @input="$v.wspassword.$touch()" v-model="wspassword" name="wspassword" 
                  :error-messages="requiredErrors" required counter="25" maxlength="25" label="Passwort" type="password"></v-text-field>
                  <a href="#" style="padding-left:31px" @click="forgotPassword_click" >{{ $t('Passwort vergessen?') }}</a>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click="login_click">{{ $t('Anmelden') }}</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
 import { validationMixin } from 'vuelidate'
 import { required,  email } from 'vuelidate/lib/validators'
 import { mapGetters, mapActions } from 'vuex'
 import Vue from 'vue'
 import Vuetify from 'vuetify'

Vue.use(Vuetify)

  export default {
    mixins: [validationMixin],
    validations: {
      email: { required,  email },
      wspassword: { required }
    },
    data: () => ({
      email: 'n.panchal@wiselab.de',
      wspassword : 'newPassword'
    }),
    computed: { 
       ...mapGetters( 'General' ,[
      'accesstoken',
      'getUserRole'
      ]),
      emailErrors () {
        const errors = []
        if (!this.$v.email.$dirty) 
          return errors
        !this.$v.email.email && errors.push('Muss gültige E-Mail sein')
        !this.$v.email.required && errors.push('E-Mail ist erforderlich')        
          return errors
      },
      requiredErrors(){
          const errors = []
          if(!this.$v.wspassword.$dirty) return errors
          !this.$v.wspassword.required && errors.push('Passwort wird benötigt')   
          return errors
      }
    },
    methods:{
       ...mapActions('General', [
      'LOGIN'
    ]),
      login_click(){
        this.LOGIN({ username: this.email, password: this.wspassword})
        .then(response => {
          window.sessionStorage.setItem("token",this.accesstoken)
          if(this.getUserRole == 'SUPER_ADMIN')
                this.$router.push('/Dashboard')
          else if(this.getUserRole == 'USER') {
            this.$router.push('/UserDashboard')
          }
          else{
            alert('Please contact Administrator for assistance.')
          }
        })
        .catch(err => {          
          err.response.data.errors.forEach( error => {
            alert(error.message)
          })
        })
      },
      forgotPassword_click(){
        alert( 'Bitte wenden Sie sich an den Administrator.')
        return false
      }
    },
    mounted(){
    }
  }
</script>