<template>
<div>
  <Toolbar 
      :toolbarTittle='toolbarTittle'>
  </Toolbar>
  Plantool  <!--   todo -->
</div>
</template>

<script>
import Toolbar from '../Components/ToolbarComp.vue'
export default {
  name: 'Plantool',
  data: () => ({
    toolbarTittle: 'Plantool'
  }),
  components: {
    Toolbar
  }
}
</script>
