<template>
<div>
 <h2 id="bar">
      <h4> Satistics</h4>
      <button :class="{
        round: true,
        expand: expand.bar
      }" @click="expand.bar = !expand.bar" aria-label="toggle"></button>
    </h2>
    <section v-if="expand.bar">
      <figure>
        <v-chart
          :options="bar"
          ref="bar"
          autoresize
        />
      </figure>
      <p v-if="seconds <= 0"><small>Loaded.</small></p>
      <p v-else><small>Data coming in <b>{{ seconds }}</b> second{{ seconds > 1 ? 's' : '' }}...</small></p>
      
    </section>
 </div>
</template>

<script>

import ECharts from 'vue-echarts'
import 'echarts/lib/chart/bar'
import 'echarts/lib/component/tooltip'
import qs from 'qs'

export default {
  components: {
    'v-chart': ECharts
  },
  props :{ 
    chartData : {}
  },
   data () {
      
    let options = qs.parse(location.search, { ignoreQueryPrefix: true })
   return {
      options,
      seconds: -1,
      bar: this.getBar(),
      expand: {
        bar: true,       
      }
   }
  },

    methods: {

      getBar(){
        return {
        dataset: {
        // Provide data.
        source: this.chartData
            // source data
          },
          // Declare X axis, which is a category axis, mapping
          // to the first column by default.
          xAxis: { type: 'category' },
          // Declare Y axis, which is a value axis.
          yAxis: {},
          // Declare several series, each of them mapped to a
          // column of the dataset by default.
          series: [{ type: 'bar' }, { type: 'bar' }, { type: 'bar' }]
      }
      },

      // randomize () {
      //   return [0, 0, 0].map(v => {
      //       return Math.round(300 + Math.random() * 700) / 10
      //   })
      // }

    },

    watch: {
      connected: {
        handler (value) {
          ECharts[value ? 'connect' : 'disconnect']('radiance')
        },
        immediate: true
      },
      'initOptions.renderer' (value) {
        this.options.renderer = value === 'svg' ? value : undefined
        let query = qs.stringify(this.options)
        query = query ? ('?' + query) : ''
        history.pushState({}, document.title, `${location.origin}${location.pathname}${query}${location.hash}`)
      }
    },
  mounted () {
       
  }
  
}
</script>