<template>
  <v-card>
    
    <v-card-title>
      <h2>{{tableTittle}}</h2>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>

    <v-data-table
      name="table"
      :headers="headers"
      :items="itemList"
      :search="search"
      :expand="expanded"
      select>
      <template slot="items" slot-scope="props">
        <tr @click="props.expanded = !props.expanded">
          <td v-for="header in headers" v-bind:key="header.text" @click="selectedRow(props.item)">
              <div v-if="header.value === 'active'">
                <div v-bind:style="[ props.item[header.value] === true ? {color:'blue'} : {color:'grey'}]">
                    <div v-if="props.item[header.value] === true">
                      {{ $t('Aktiv') }}
                    </div>
                    <div v-else>
                      {{ $t('Inaktiv') }}
                    </div>
                  </div>
              </div>
              <div v-else>{{ props.item[header.value] }}</div>
          </td>
        </tr>
      </template>
      <template slot="expand" slot-scope="props">
        <v-card flat>
          <v-list>
            <v-list-tile>
              <v-list-tile-action>
                <v-icon>how_to_reg</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ props.item['firstName'] + " " + props.item['lastName']  }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

          <v-divider inset></v-divider>

          <v-list-tile>
            <v-list-tile-action>
              <v-icon>phone</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{props.item.mobileNo}}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        

        <v-divider inset></v-divider>

          <v-list-tile>
            <v-list-tile-action>
              <v-icon>email</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{props.item.email}}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        
        </v-card>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
    <v-layout>
      <v-flex style="height:70px"></v-flex>
    </v-layout>
  </v-card>
</template>

<style type="css">
  .colorRed {
    color: 'red'
  }

  .colorGreen {
    color: 'green'
  }
</style>

<script>

export default {
  data: () => ({  
    expanded: false,
    wsdialog: false,
    showDeleteItemModal:false,
    isdelete: false,
    selectedItem: {},
    adminId: null,
    selectedArray:[],
    editedMode: false
  }),
  props:{
    tableTittle: String,
    headers: Array,
    itemList: Array,
    search: String,
    itemObject : Object,
    itemType: String
  },
  watch: {
    pagination: {
      handler() {   // Pagination Changed
      }
    }
  },
  methods : {
    selectedRow(val) {
      if(this.selectedItem === val) {
        this.selectedItem = {}
        this.$emit('changeEditMode',false)
      }else {
        this.selectedItem = val
        this.$emit('changeEditMode',true)
        this.$emit('selectedItem',this.selectedItem)
      }
    }
  }
}
</script>
