<template>
<div id="app">
  <v-app id="inspire">
    <v-card>
      <v-toolbar
        card
        color="grey lighten-3"
      >
        <v-icon>mdi-silverware</v-icon>
        <v-toolbar-title>{{ $t('Lokal Hotspot') }}</v-toolbar-title>
      </v-toolbar>
     
        <v-text-field
          v-model="search"
          label="Firmenverzeichnis durchsuchen"
          
          outline
          
          clearable
          clear-icon="mdi-close-circle-outline"
        ></v-text-field>
      
      <v-layout>
        <v-flex>
          <v-card-text>
            <v-treeview
              v-model="tree"
              :load-children="fetch"
              :items="items"
              :search="search"
              
              :open.sync="open"
              activatable
              active-class="grey lighten-4 indigo--text"
              selected-color="indigo"
              open-on-click
              selectable
              expand-icon="mdi-chevron-down"
              on-icon="mdi-bookmark"
              off-icon="mdi-bookmark-outline"
              indeterminate-icon="mdi-bookmark-minus"
            >
            </v-treeview>
          </v-card-text>
        </v-flex>
  
        <v-divider vertical></v-divider>
  
        <v-flex
          xs12
          md6
        >
          <v-card-text>
            <div
              v-if="selections.length === 0"
              key="title"
              class="title font-weight-light grey--text pa-3 text-xs-center"
            >
              {{ $t('Wählen Sie Ihre Lieblingsbrauereien aus') }}
            </div>
  
            <v-scroll-x-transition
              group
              hide-on-leave
            >
              <v-chip
                v-for="(selection, i) in selections"
                :key="i"
                color="grey"
                dark
                small
              >
                <v-icon left small>mdi-beer</v-icon>
                {{ selection.name }}
              </v-chip>
            </v-scroll-x-transition>
          </v-card-text>
        </v-flex>
      </v-layout>
  
      <v-divider></v-divider>
  
      <v-card-actions>
        <v-btn
          flat
          @click="tree = []"
        >
          {{ $t('Neu Starten') }}
        </v-btn>
  
        <v-spacer></v-spacer>
  
        <v-btn
          class="white--text"
          color="green darken-1"
          depressed
        >
          {{ $t('Speichern') }}
          <v-icon right>mdi-content-save</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-app>
</div>
</template>


<script>

export default {

  
  data: () => ({
    breweries: [],
    isLoading: false,
    tree: [],
    types: [],
    open: [1, 2],
    search: null,
    caseSensitive: false
  }),

  computed: {
    items () {
      const children = this.types.map(type => ({
        id: type,
        name: this.getName(type),
        children: this.getChildren(type)
      }))

      return [{
        id: 1,
        name: 'All Breweries',
        children
      }]
    },
    selections () {
      const selections = []

      for (const leaf of this.tree) {
        const brewery = this.breweries.find(brewery => brewery.id === leaf)

        if (!brewery) continue

        selections.push(brewery)
      }

      return selections
    },
    shouldShowTree () {
      return this.breweries.length > 0 && !this.isLoading
    },
    itemsComputed() {
      return this.items.filter(v => {
        let regexp = new RegExp(`^${this.search}`, "i")
        return v.name.match(regexp)
         || v.children.find(v => v.name.match(regexp))
      })
    },
    
    filter () {
        alert('test')
      return this.caseSensitive
        ? (item, search, textKey) => item[textKey].indexOf(search) > -1
        : undefined
    }
  },

  watch: {
    breweries (val) {
      this.types = val.reduce((acc, cur) => {
        const type = cur.brewery_type

        if (!acc.includes(type)) acc.push(type)

        return acc
      }, []).sort()
    }  
  },

  methods: {
    fetch () {
      if (this.breweries.length) return

      return fetch('https://api.openbrewerydb.org/breweries')
        .then(res => res.json())
        .then(data => (this.breweries = data))
        .catch(err => console.error(err))
    },
    getChildren (type) {
      const breweries = []

      for (const brewery of this.breweries) {
        if (brewery.brewery_type !== type) continue

        breweries.push({
          ...brewery,
          name: this.getName(brewery.name)
        })
      }

      return breweries.sort((a, b) => {
        return a.name > b.name ? 1 : -1
      })
    },
    getName (name) {
      return `${name.charAt(0).toUpperCase()}${name.slice(1)}`
    }
  }

}
</script>