<template>
  <v-card>
    <v-card-title>
      <v-layout row>
        <h2>{{tableTittle}}</h2>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Suchen"
          single-line
          hide-details
        ></v-text-field>
      </v-layout>
    </v-card-title>
    <v-data-table
      name="table"
      :headers="headers"
      :items="itemlist"
      :search="search"
      :expand="expand" 
      class="mytable"
      select>
      <template slot="items" slot-scope="props">
        <tr>
          <td v-for="header in headers" v-bind:key="header.text" @click="selectedRow(props.item)">
              {{ props.item[header.value] }}
          </td>
        </tr>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
    <v-layout>
      <v-flex style="height:70px"></v-flex>
    </v-layout>
  </v-card> 
</template>

<script>

export default {
    data: () => ({  
        wsdialog: false,
        showDeleteItemModal:false,
        isdelete: false,
        adminId: null,
        selectedArray:[],
        mutatedItem: [],
        editedMode: false,
        selected: []
    }),
    props:{
      tableTittle: String,
      headers: Array,
      itemlist: Array,
      search: String,
      itemObject : Object,
      itemType: String,
      expand: Boolean
  },
  computed : {
    selectedItem: function() {
      return this.mutatedItem
    }
  },
  watch: {
    pagination: {
      handler() {
        // Pagination Changed
      }
       
    }
  },
  methods : {
    selectedRow: function(val) {
      if(this.selectedItem == val) {
        this.selected = []
        this.mutatedItem = []
        this.$emit('changeEditMode',false)
      }else {
        this.mutatedItem = val
        this.$emit('changeEditMode',true)
        this.$emit('selectedItem',this.selectedItem)
      }
    }
  },
  mounted : function() {

  },
  update: function() {

  },
  components :{

  }
}
</script>
