<template>
    <div>
      
      <div v-if="itemList.length === 0">
        <v-container>
          <v-layout align-space-around justify-center row fill-height>
              <center>{{ $t('Keine Daten verfügbar') }}</center>
          </v-layout>
        </v-container>
      </div>

      <v-list
            v-for="(item,index) in itemList"
            :key="item.name"
            v-model="item.active" 
            three-line="">
            <v-subheader v-if='index === 0'>
              <h2>{{listTittle}}</h2>
            </v-subheader>
            <v-list-tile v-on:click="rowSelected(item)">
            <v-list-tile-action>
              <v-btn v-on:click.stop="moreAction(item)" icon><v-icon>more_vert</v-icon></v-btn>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title>{{ item.name }}</v-list-tile-title>
                <v-list-tile-sub-title v-html="item.description"></v-list-tile-sub-title>
            </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </div>
</template>

<script>
import {mapActions , mapGetters} from 'vuex'

export default {
    data: () => ({
      selectedCatalogGroupDetail : '',
      catalogGroupPermissionDialog: false,
      selectedItem: {},
      progressStatus: true
    }),
    props:{
      listTittle: String,
      headers: Array,
      itemList: Array,
      search: String,
      itemObject : Object,
      itemType: String
    },
    computed: {
        ...mapGetters( 'Admin',[
            'adminlist'
        ]),
        ...mapGetters('General', ['accesstoken'])
    },
    methods: {
        ...mapActions( 'Admin', [
        'GET_ALL_ADMINS',
        'ADD_ADMIN'
        ]),
        getAllCatalogGroup() {
            this.GET_ALL_CATALOGGROUP({ })   // Getting All Admin
            .then( () => {  
            })
        },
        showPermissionSystem(selectedGroup) {
            this.selectedCatalogGroupDetail = selectedGroup
            this.catalogGroupPermissionDialog = !this.catalogGroupPermissionDialog

            // if(this.catalogGroupPermissionDialog === false) {
            //   this.breadcrumbsItems[1].text = "Kataloguntergruppe Wahlen"
            //   this.breadcrumbsItems[1].disabled = true
            // }else {
            //   this.breadcrumbsItems[1].text = selectedGroup.displayName
            //   this.breadcrumbsItems[1].disabled = false
            // }
        },
        updatePermission() {
          this.catalogGroupPermissionDialog = false  // updatePermission to DB
        },
        rowSelected(item) {
          this.$emit('routeTo',item)
        },
        moreAction(val) {
          if(this.selectedItem != val) {
            this.selectedItem = val
            this.$emit('changeEditMode',true)
          }else {
            this.$emit('changeEditMode',false)
            this.selectedItem = {}
          }
          this.$emit('selectedItem',this.selectedItem)
        }
    },
    components: {
    },
    mounted(){
      // this.breadcrumbsItems[0].text = this.$route.params.adminName
    }
}
</script>
