<template>
    <div>
        <v-card>
                <v-layout row wrap>
                  <v-flex xs12>
                    <v-breadcrumbs :items="breadcrumbsItems">
                      <v-icon slot="divider">chevron_right</v-icon>
                    </v-breadcrumbs>
                  </v-flex>
                </v-layout>
        </v-card>
    </div>
</template>

<script>

export default {
    data: () => ({
    }),
    props: {
        breadcrumbsItems: Array
    }
}
</script>

