<template>
    <div>
        <Toolbar 
        :toolbarTittle='toolbarTittle'>
        </Toolbar>
        
        <v-card>
            <v-container>
                    <v-layout align-start justify-start row>
                        <v-flex xs12 sm12 md12 lg12 xl12>
                            Sind Sie sicher, dass Sie den "{{ itemName }}" löschen wollen?
                        </v-flex>
                    </v-layout>

                    <v-card-actions>
                        <v-layout align-end justify-end row>
                            <v-btn flat  color="primary" @click="cancelDeleteItem">{{ $t('Abbrechen') }}</v-btn>
                            <v-btn color="primary"  @click="deleteItem">{{ $t('Löschen') }}</v-btn>
                        </v-layout>
                    </v-card-actions>

            </v-container>
        </v-card>

        <v-snackbar 
            v-model="snackbarDelete.visible" 
            :bottom="true" 
            :timeout="snackbarDelete.timeout">
            {{ itemName }}" {{ $t ('würde gelöscht') }}
            <v-btn color="primary" flat @click="nackbarDelete.visible = false">
                {{ $t('Schließen') }}
            </v-btn>
        </v-snackbar>
    </div>
</template>


<script>
import {mapActions, mapGetters } from 'vuex'
import Toolbar from './ToolbarComp.vue'

export default {
    components: {
        Toolbar
    },
    data: () => ({ 
        progressStatus: true,
        toolbarTittle: 'Löschen',
        itemType : '',
        itemName : '',
        itemLabel : '',
        snackbarDelete: {
            visible: false,
            message: '',
            timeout: 2000
        }
    }),
    props:{
    },
    computed: {
        ...mapGetters('Routing', [
            'getSelectedItem'
        ]),
        ...mapGetters( 'General',[
            'accesstoken'
        ])
    },
     methods: {
        ...mapActions('Routing', [
            'DELETE_ITEM'
        ]),
        deleteItem() {
            this.progressStatus = true
            this.DELETE_ITEM()
            .then( response => {
                console.log(response)
                this.progressStatus = false
                this.$router.push(`${this.getSelectedItem.path}/${response.data.message}`)
            })
            .catch( err => {
                this.progressStatus = false
                let msg = err.response.data.errors.map( error => error.message)
                this.alert.messages = msg
                this.alert.visible = true
            })
        },
        cancelDeleteItem() {
            this.$router.push(`${this.getSelectedItem.path}`)
        },
        closeDel(){
            this.$emit('update:dialog', false)
        }
    },
    mounted:function(){
        this.toolbarTittle = this.getSelectedItem.itemTittle+' Löschen'
        if(this.getSelectedItem.data.name) this.itemName = this.getSelectedItem.data.name
        else this.itemName = this.getSelectedItem.data.displayName
        this.itemType = this.getSelectedItem.itemType
    }
  }
 </script>
