<template>
    <div>
      
      <div v-if="itemList.length == 0">
        <v-container>
          <v-layout align-space-around justify-center row fill-height>
              <center>{{ $t ('Keine Daten verfügbar') }}</center>
          </v-layout>
        </v-container>
      </div>

      <v-list
            v-for="(item, index) in itemList"
            :key="item.id" 
            three-line="">
            <v-subheader v-if='index == 0'>
              <h2>{{listTittle}}</h2>
            </v-subheader>
            <v-list-tile v-on:click="rowSelected(item)">
            <v-list-tile-action>
              <v-btn v-on:click.stop="moreActionSelected(item)" icon><v-icon>more_vert</v-icon></v-btn>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title>{{ item.name }}</v-list-tile-title>
                <v-list-tile-sub-title v-html="item.description"></v-list-tile-sub-title>
            </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </div>
</template>

<script>
import {mapActions , mapGetters} from 'vuex'

export default {
    data: () => ({
    }),
    props:{
      listTittle: String,
      itemList: Array
    },
    methods: {
        rowSelected(item) {
            this.$emit('rowSelected',item)
        },
        moreActionSelected(item) {
           this.$emit('moreActionSelected',item)
        }
    }
}
</script>
