<template>
    <v-card>

        <Toolbar
            :toolbarTittle='toolbarTittle'
            :showSearch='showSearch'
            :showDrawer="showDrawer"
            :progressStatus='progressStatus'
            :showAddButton='showAddButton'
            v-on:addItemEmit="addItemEmit">
        </Toolbar>

        <div v-if="itemList.length == 0">
            <v-container>
            <v-layout align-space-around justify-center row fill-height>
                <center>{{ $t ('Keine Daten verfügbar') }}</center>
            </v-layout>
            </v-container>
        </div>

        <v-list
            v-for="(item, index) in itemList"
            :key="item.id" 
            two-line="">
            <v-subheader v-if='index == 0'>
            <h2>{{listTittle}}</h2>
            </v-subheader>
            <v-list-tile>
                <v-list-tile-content>
                    <v-list-tile-title>{{ item.name }}</v-list-tile-title>
                    <v-list-tile-sub-title v-html="item.description"></v-list-tile-sub-title>
                </v-list-tile-content>
                <v-list-tile-action>
                    <v-checkbox 
                        v-model="selectedList"
                        :value="item.id">
                    </v-checkbox>    
                </v-list-tile-action>
            </v-list-tile>
        </v-list>
        <v-card-actions>
            <v-layout align-end justify-end row fill-height>
                <v-btn flat color="primary" @click="dismissDialog">{{ $t('Abbrechen') }}</v-btn>
                <v-btn color="primary" @click="dismissDialog">{{ $t('Fertig') }}</v-btn>
            </v-layout>
        </v-card-actions>
    </v-card>
</template>

<script>
import Toolbar from './ToolbarComp.vue'

export default {
    components: {
        Toolbar
    },
    data: () => ({
        showSearch: true,
        progressStatus: false,
        showDrawer: false,
        selectedList: [],
    }),
    props: {
        itemList: Array,
        toolbarTittle: {
            default: "Nutzergruppe Wählen",
            type: String
        },
        listTittle: {
            default: "Nutzergruppe",
            type: String
        },
        showAddButton: {
            default: false,
            type: Boolean
        }
    },
    methods: {
        dismissDialog() {
            this.$emit('dismissDialog',this.selectedList)
        },
        addItemEmit() {
            this.$emit('addItemEmit')
        }
    }
}
</script>
