<template>
     <!-- POP UP DIALOG -->
        <v-dialog scrollable 
          v-model="showPanel">
          <v-card>
            <v-card-title>
              <v-layout column>
                <span class="headline">{{ $t('Berichtigungen Bearbeiten') }}</span>
                <div class="font-weight-thin">{{selectedItem.name}}</div>
                <v-flex xs12>
                </v-flex>
              </v-layout>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
               <v-list
                 v-for="item in permissionConst"
                :key="item.displayName"
                v-model="item.active">
                  <v-list-tile>
                    <v-list-tile-avatar>
                      <v-icon medium v-if="item.value" color="primary">{{ item.icon }}</v-icon>
                      <v-icon medium v-else>{{ item.icon }}</v-icon>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                      <h4>{{ item.label }}</h4>
                    </v-list-tile-content>
                    <v-list-tile-action>
                      <v-switch v-model="item.value"></v-switch>
                    </v-list-tile-action>
                  </v-list-tile>
              </v-list>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
              <v-spacer></v-spacer><v-btn color="primary" @click="updatePermission">{{ $t('Fertig') }}</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
</template>

<script>
export default {
    data: () => ({
    }),
    props: {
        selectedItem: Object,
        showPanel: Boolean,
        permissionConst: Array,
    },
    methods: {
        updatePermission() {
            this.$emit('updatePermission')
        }
    }
}
</script>

