<template>
    <div>
        <v-dialog scrollable
          v-model="showDialog">
          <v-card>
            <v-card-title>
              <v-layout column>
                  <span class="headline">{{selectedItem.displayName}}</span>
                  <div class="font-weight-thin">{{ $t('Berichtigungen Anschauen') }}</div>
              </v-layout>
              
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
            
              <div v-if="permissionList.length == 0">
                <v-container>
                <v-layout align-space-around justify-center row fill-height>
                    <center>{{ $t ('Keine Daten verfügbar') }}</center>
                </v-layout>
                </v-container>
              </div>

               <v-list
                  v-for="(item, index) in permissionList"
                  :key="item.id" three-line>
                <v-list-tile>
                  <v-list-tile-content >
                      <v-list-tile-title>
                        {{item.name}}
                      </v-list-tile-title>
                      <v-list-tile-sub-title>
                        {{item.description}}
                      </v-list-tile-sub-title>
                    <v-layout row>
                      <v-flex v-for="item in item.permission">
                        <v-chip small v-if="item.type == 'CREATE'" color="blue lighten-3" text-color="white">
                            <v-icon >add</v-icon>
                        </v-chip>
                        <!-- <v-chip small v-else text-color="white">
                            <v-icon >add</v-icon>
                        </v-chip> -->

                        <v-chip small v-if="item.type == 'GET'" color="blue lighten-3" text-color="white">
                            <v-icon >visibility</v-icon>
                        </v-chip>
                        <!-- <v-chip small v-else text-color="white">
                            <v-icon >visibility</v-icon>
                        </v-chip> -->

                        <v-chip small v-if="item.type == 'UPDATE'" color="blue lighten-3" text-color="white">
                            <v-icon >create</v-icon>
                        </v-chip>
                        <!-- <v-chip small v-else text-color="white">
                            <v-icon >create</v-icon>
                        </v-chip> -->

                        <v-chip small v-if="item.type == 'DELETE'" color="blue lighten-3" text-color="white">
                            <v-icon >delete</v-icon>
                        </v-chip>
                        <!-- <v-chip small v-else text-color="white">
                            <v-icon >delete</v-icon>  
                        </v-chip> -->

                        <!-- <v-chip small v-if="item.permission" color="blue lighten-3" text-color="white">
                            <v-icon >supervised_user_circle</v-icon> 
                        </v-chip>
                        <v-chip small v-else text-color="white">
                            <v-icon >supervised_user_circle</v-icon> 
                        </v-chip> -->
                      </v-flex>
                    </v-layout>
                  </v-list-tile-content>
                </v-list-tile>
                
                <v-divider v-if="index < permissionList.length"></v-divider>
              </v-list>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
              <v-spacer></v-spacer><v-btn color="primary" @click="showDialogEmit(false)">{{ $t('Fertig') }}</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
    </div>
</template>

<script>

export default {
    data: () => ({
    }),
    props: {
        selectedItem: Object,
        permissionList : Array,
        showDialog : Boolean
    },
    methods: {
      showDialogEmit(val) {
        this.$emit('showDialogEmit',val)
      }
    }
}
</script>

