<template>
    <div>
        <v-navigation-drawer
        :clipped="$vuetify.breakpoint.lgAndUp"
        v-model="drawer" class="dashBoard"
        fixed
        app
        >
        <v-list dense>
          <template v-for="item in items">
              <v-list-group
              v-if="item.children"
              v-model="item.model"
              :key="item.text"
              :prepend-icon="item.model ? item.icon : item['icon-alt']"
              append-icon=""
            >
              <v-list-tile slot="activator">
                <v-list-tile-content>
                  <v-list-tile-title>
                    {{ item.text }}
                  </v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile
                v-for="(child, i) in item.children"
                :key="i"
                :to="{path: '/' +  child.path }"
              >
              &nbsp; &nbsp;  <v-list-tile-action v-if="child.icon">
                  <v-icon>{{ child.icon }}</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title>
                    {{ child.text }}
                  </v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list-group>
            <v-list-tile v-else :key="item.text" :to="{path: '/' +  item.path }"  @click= "{item.click != '' ? logout_click() : ''}">
              <v-list-tile-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ item.text }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>

            <v-container> 
            <v-select 
              v-model="selectedLanguage"  
              :items="languages"
              item-text="longLang"
              item-value="shortLang"
              solo
              single-line
              >
              <template v-slot:selection="{ item }">
                <flag class="mx-2" :iso="item.shortLang"/>
                <div>{{item.longLang}}</div>
              </template>
              <template v-slot:item="{ item }">
                <flag class="mx-2" :iso="item.shortLang"/>
                <div>{{item.longLang}}</div>
              </template>
            </v-select>
          </v-container>  

        </v-list>
    </v-navigation-drawer>



      <!-- TOOLBAR -->
      <div>
        <v-toolbar
        :clipped-left="$vuetify.breakpoint.lgAndUp"
        color="primary"
        dark
        app
        fixed>
            <v-toolbar-side-icon @click.stop="drawer = !drawer" v-if="showDrawer"></v-toolbar-side-icon>
            <v-toolbar-title>
              {{toolbarTittle}}
            </v-toolbar-title>
            <v-spacer></v-spacer>  
            <v-btn v-if="showSearchButton" icon @click.stop="showSearchBarEmit(!showSearchBar)">
            <v-icon>search</v-icon>
            </v-btn>
            <v-btn v-if="showAddButton" icon @click="addItemEmit">
            <v-icon>add</v-icon>
            </v-btn>  
        </v-toolbar>
      </div>



      <!-- SEARCHBAR -->
      <v-text-field
        ref="searchBar"
        v-if="showSearchBar"
        v-model="searchingValue"
        box
        clearable
        label="Suchen"
        v-on:keyup="searchingItemEmit(searchingValue)"
        @click:clear="searchingItemEmit('')"
        hint="Bitte schreiben Sie die Suchbegriffe">
      </v-text-field>


      <!-- STEPPER -->
      <div v-if="showStepper" @click="showSearchBarEmit(false)" >
        <v-stepper v-model="stepperPosition">
          <v-stepper-header>
            <template v-for="(item,index) in stepperItems">
              <v-stepper-step
              :complete="stepperPosition > (index+1)"
              :editable="item.editable"
              :step="item.step"
              :key="item.step"
              @click="changeStep(item)">
                {{item.text}}
                <small>{{item.selectedText}}</small>
              </v-stepper-step>
              <v-divider :key="item.step+'div'" v-if="index < (stepperItems.length-1)"></v-divider>
            </template>
          </v-stepper-header>
        </v-stepper>
      </div>

      <v-dialog v-model="progressStatus" persistent width="300">
        <v-card color="white" dark>
          <v-card-title
            class="headline primary"
            primary-title>
            Laden
          </v-card-title>
          <v-card-text>
            <v-progress-linear
              indeterminate
              color="primary"
              class="mb-0">
            </v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>

    <v-snackbar
      v-model="alertSnackbar.show"
      :top="alertSnackbar.top"
      :multi-line="alertSnackbar.multiline"
      :timeout="alertSnackbar.timeout"
    >{{alertSnackbar.text}}</v-snackbar>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex"
export default {
  data: () => ({
    dialog: false,
    drawer: null,
    searchingValue: '',
    selectedLanguage: { shortLang: "de", longLang: "Deutsch"},
    languages: [
      { shortLang: "us", longLang: "English"},
      { shortLang: "de", longLang: "Deutsch"},
      { shortLang: "ru", longLang: "Русский"},
      { shortLang: "ua", longLang: "Українська"}
    ],
      items: [
        { icon: 'info', text: 'Impressum' , path: 'Impressum', click:'' },
        { icon: 'insert_chart_outlined', text: 'Diagramm', path: 'Dashboard' , click:'' },
        { icon: 'how_to_reg', text: 'Nutzer' , path: 'User', click:'' },
        { icon: 'group', text: 'Gruppe', path: 'Group' , click:'',
          model: true,
          children: [
            { icon: 'group', text: 'Admin Gruppen', path:'AdminGroup' },
            { icon: 'group', text: 'Nutzer Gruppen', path:'UserGroup' }
          ]
        },
        { icon: 'vpn_key',text: 'Berichtigungen', path: 'Group' , click:'',
          model: true,
          children: [
            { icon: 'vpn_key', text: 'Autoren', path:'Permission_Autoren' },
            { icon: 'vpn_key', text: 'Kordinatoren', path:'Permission_Kordinatoren' },
            { icon: 'vpn_key', text: 'Nutzer', path:'Permission_Nutzer' },
            { icon: 'vpn_key', text: 'Admin', path:'Permission_Admin' }
          ]
        },
        { icon: 'description',text: 'Wissensdatenbank', path: '' , click:'',
          model: true,
          children: [
            { icon: 'drafts', text: 'Offene Fragen', path:'OpenQuestions' },
            { icon: 'list', text: 'Fragenbrowser', path:'Questions' },
            { icon: 'live_help', text: 'Meine Fragen', path:'MyQuestions' }
          ]
        },
        { icon: 'question_answer', text: 'Wiki', path: ''},
        { icon: 'help', text: 'Autorentool', path: 'Authorentool_CatalogGroup', click:'' },
        { icon: 'how_to_reg', text: 'Admin Nutzer', path: 'Admin', click:''},
        { icon: 'assignment', text: 'Plantool', path: 'Plantool' , click:''},
        { icon: 'settings', text: 'System Einstellungen', path: 'System_Settings' , click:''},
        // { icon: 'chat_bubble', text: 'Support', path: 'Support', click:'' },
        // { icon: 'settings', text: 'Control Panel', path: 'ControlPanel' , click:''},
        // { icon: 'info', text: 'Impressum', path: 'Impressum' , click:'' },
        { icon: 'exit_to_app', text: 'Abmelden',  path:' ', click: 'logout_click()' }
      ],
      routerList :[
        { name:'Impressum'},
        { name:'Dashboard'},
        { name:'User'},
        { name:'QuestionsCatalog'},
        { name: 'QuestionsCatalog_CatalogGroup'},
        { name:'Plantool'},
        { name:'System_Settings'},
        { name:'Support'},
        { name:'ControlPanel'},
        { name:'Login'},
        { name:'EditItem'},
        { name:'DeleteItem'},
      ]
    }),
    props : {
      showSearchBar: {
        default: false,
        type: Boolean
      },
      showAdd: {
        default: false,
        type: Boolean
      },
      stepperPosition: {
        default: 1,
        type: Number
      },
      alertSnackbar: {
        default: function() {
          return {
            show: false,
            top: true,
            timeout: 3000,
            text: '',
            multiline: true
          }
        },
        type: Object
      },
      showStepper: {
        default: false,
        type: Boolean
      },
      stepperItems: {
        default: function() {
          return [
              {text: '',href: '',step: "1",editable: false}
            ]
        },
        type: Array 
      },
      toolbarTittle: String,
      itemType: String,
      showSearchButton: Boolean,
      showAddButton: Boolean,
      progressStatus: Boolean,
      showDrawer: {
        default: true,
        type: Boolean
      }
    },
    methods: {
      searchingItemEmit(searchingValue){
        this.$emit('searchingItemEmit',searchingValue)
      },
      addItemEmit() {
        this.$emit('addItemEmit')
      },
      showSearchBarEmit(value) {
        this.$emit('showSearchBarEmit',value)
      },
      ...mapActions('General', [
        'LOGOUT'
      ]),
      logout_click() {
        this.LOGOUT()
        .then(
          this.$router.push('/Login')
        )
      },
      changeStep(item) {
        if(item.editable === true) {
          this.stepperPosition = item.step
          this.$router.push(item.url)
        }
      }
    },
    mounted() {
        this.selectedLanguage = this.$root.$store.state.AppLanguage.selectedLanguage
  },
    watch: {
      selectedLanguage(change) {
        this.$root.$store.state.AppLanguage.selectedLanguage = change
        this.$root.$i18n.locale = change
      }
    }
  }


</script>