
<template>
<div>

  <Toolbar 
      :toolbarTittle='toolbarTittle'>
    </Toolbar>

    <v-card class= 'body-1' max-width = '700px' >
          <v-card-title>
            <span style="float:left" class="headline">{{ $t('Admin')}} {{$t('Details')}} </span>
            <v-spacer></v-spacer>
           
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md  class="body-2">
              <v-layout wrap>
                <v-flex xs12 sm6 md4>
                  <v-text-field label="Vorname*" v-model="adminObject.firstName" required></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field label="Nachname*" v-model="adminObject.lastName"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field
                    label="Angezeigter Name*"            
                    required v-model="adminObject.displayName"
                  ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field 
                    label="E-mail*" 
                    v-model="adminObject.email" 
                    :rules="[rules.email]"
                    type="email" 
                    required>
                  </v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field label="Passwort*" v-model="adminObject.password" type="password" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field label="Handynummer*" v-model="adminObject.mobileNo" required></v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                  <v-text-field label="Straße*" v-model="adminObject.street" type="text" required></v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                  <v-text-field label="Hausnummer*" v-model="adminObject.houseNo" type="number" required></v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                  <v-text-field label="PLZ*" type="number" v-model="adminObject.ZIP" required></v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                  <v-text-field label="Land*" type="text" v-model="adminObject.city" required></v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                  <v-text-field label="Stadt*" type="text" v-model="adminObject.state" required></v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                   <v-checkbox label="Aktiv?" v-model="adminObject.active" type="text" required></v-checkbox>
                </v-flex>
                <v-flex xs12 sm6>
                   <v-checkbox label="Test Konto" v-model="adminObject.testAccount" type="text" required></v-checkbox>
                </v-flex>
                <v-flex xs12 sm6>
                  <v-checkbox label="Demo Konto" v-model="adminObject.demoAccount" type="text" required></v-checkbox>
                </v-flex>
              </v-layout>
            </v-container>
            <small>*{{ $t('kennzeichnet ein Pflichtfeld') }}</small>
          </v-card-text>    
          <v-card-actions>
            <v-btn color="primary" flat @click="updateAdminDetails">{{ $t('Speichern') }}</v-btn>
          </v-card-actions>      
        </v-card>
        </div>
</template>

<script>
import {mapActions } from 'vuex'
import Toolbar from '../../Components/ToolbarComp.vue'

export default {
    data: () => ({
      toolbarTittle: 'Admin Bearbeiten',
        adminObject :  {
              
            },
      rules: {
      email: value =>
        /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(value) ||
        "Not a valid E-Mail"
      }
    }),
  mounted(){
      var admin_id;
      if(this.$route.params.itemId === undefined)
       admin_id = this.adminId
      else
        admin_id = this.$route.params.itemId
    if(admin_id != undefined)
        this.getAdminById(admin_id)
  },
  props:{ adminId : String , dialog: Boolean},
  methods: {
    ...mapActions('Admin',[
      'ADD_ADMIN',
      'GET_ADMIN_BY_ID',
      'UPDATE_ADMIN_BY_ID'
    ]),
    getAdminById (adminId) {
        if(adminId != null && adminId != '0')
        {         
           this.GET_ADMIN_BY_ID(adminId)
           .then(data => {
                 this.adminObject =  data
           })
        }
        else if( adminId != '0'){ // For new admin
          this.adminObject =   {
                firstName: "",
                lastName: "",
                email: "",
                password : "",
                displayName: "",
                mobileNo: "",
                street: "",
                houseNo: "",
                postalcode: "",
                city: "",
                state: "",
                testAccount: false,
                active: false,
                demoAccount:false
            }
        }
    },
    updateAdminDetails () {
      var adminID = this.$route.params.itemId 
      if(adminID != '0'){
        this.UPDATE_ADMIN_BY_ID({ adminId: adminID, newData: this.adminObject})
        .then( res => { 
          if(res.status === 200) 
          alert('Erfolgreich aktualisiert!')
        })
      }
      else{
        this.ADD_ADMIN(this.adminObject)
        .then( res => { 
          if(res.status === 200) 
          alert('Erfolgreich hinzugefügt!')})  
      }
    }
   
  },
    components: {
      Toolbar
    }
  }
</script>