<template>
<div> 
    <Toolbar 
      :toolbarTittle='toolbarTittle'
      :progressStatus="progressStatus">
    </Toolbar>
     
    <AdminTable
    :tableTittle="tableTittle"
    :headers='headers'
    :itemlist='getAdminlist'
    v-on:changeEditMode="changeEditMode"
    v-on:selectedItem="setSelectedAdmin">
    </AdminTable>

    <v-layout fill-height align-end justify-end>
        <v-flex xs2 sm1 md1lg1 xl1>
          <v-fab-transition>
            <v-btn
              v-show="editMode"
              color="error"
              fab
              bottom
              fixed
              @click="deleteAdmin">
              <v-icon color="white">delete</v-icon>
            </v-btn> 
        </v-fab-transition>
        </v-flex>
        <v-flex xs2 sm1 md1 lg1 xl1>
          <v-fab-transition>
            <v-btn
              v-show="editMode"
              color="amber darken-1"
              fab
              bottom
              fixed
              @click="editAdmin">
              <v-icon color="white">edit</v-icon>
            </v-btn>
          </v-fab-transition>
        </v-flex>

        <v-flex xs2 sm1 md1 lg1 xl1>
          <v-btn
            color="primary"
            fab
            bottom
            fixed
            @click="addAdmin">
            <v-icon color="white">add</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
</div>
</template>

<style>
.headerTxt{
  color: blue;
}
</style>
<script>
import {mapActions, mapGetters } from 'vuex'
import WsAdminlist from '../WiselabTable.vue'
import Toolbar from '../../Components/ToolbarComp.vue'
import AdminTable from '../WiselabExpandTable.vue'
  
  export default {
    components: {
       WsAdminlist,
       AdminTable,
       Toolbar
    },
    data: () => ({  
      toolbarTittle: 'Admin',
      tableTittle: 'Admin',  
      progressStatus: false,  
      wsdialog: false,
      headers: [
        {
          text: 'Display Name',
          align: 'left',
          sortable: false,
          value: 'displayName',
          class: 'headerTxt'
        },
        { text: 'Email', value: 'email' }
      ],
      adminObject : {
        displayName: "",
        email: ""
      },
      editMode: false
    }),
    computed: { 
      ...mapGetters( 'Admin',[
        'getAdminlist',
        'getSelectedAdmin'
      ]),
      ...mapGetters( 'Routing', [
        'getSelectedItem'
      ]),
      ...mapGetters('General', ['accesstoken'])
    },
     methods: {
      ...mapActions( 'Admin', [
        'GET_ALL_ADMINS',
        'SELECT_ADMIN'
      ]),
      ...mapActions( 'Routing', [
        'SELECT_ITEM_FOR_ROUTE'
      ]),
      getAllAdmin (){
        this.progressStatus = true
        this.GET_ALL_ADMINS()
        .then( () => {
          this.progressStatus = false
        }).catch(err => {
          this.progressStatus = false
          console.error(err)
        })
      },
      addAdmin(){
        this.SELECT_ITEM_FOR_ROUTE(this.getSelectedAdmin)
        .then( () => {
           this.$router.push('/AddAdmin/')    
        })   
      },
      deleteAdmin(){
        this.$router.push('/DeleteAdmin/')  
      },
      editAdmin(adminId){
        this.$router.push('/UpdateAdmin/')  
      },
      changeEditMode(mode) {
        this.editMode = mode
      },
      setSelectedAdmin(item){
        this.SELECT_ADMIN(item)
        .then( () => {
          this.SELECT_ITEM_FOR_ROUTE(this.getSelectedAdmin)
        })
      }
    },
    mounted() {
       this.getAllAdmin()
    }
  }
</script>