<template>
    <div>

    <Toolbar 
    :toolbarTittle='toolbarProp.tittle'
    :itemType='itemType'
    :progressStatus='progressStatus'
    :showSearchButton='toolbarProp.showSearchButton'
    v-on:searchingItemEmit="searchingItem"
    v-on:showSearchBarEmit="showSearchBarEmit"
    :showSearchBar='showSearchBar'>
    </Toolbar>

    <v-snackbar
    v-model="alertSnackbar.show"
    :top="alertSnackbar.top"
    :multi-line="alertSnackbar.multiline"
    :timeout="alertSnackbar.timeout">
    {{alertSnackbar.text}}
    </v-snackbar>

    <v-card @click="clickOutside">
      <v-layout row wrap>
        <v-flex xs12>
          <v-breadcrumbs :items="breadcrumbsItems">
            <v-icon slot="divider">chevron_right</v-icon>
          </v-breadcrumbs>
        </v-flex>
      </v-layout>
    </v-card>

    <WsCatalogGroupList
    :itemList='getCatalogList'
    :itemType='itemType'
    :headers='headers'
    :listTittle='listTittle'
    v-on:changeEditMode="changeEditMode"
    v-on:selectedItem="setSelectedItem"
    v-on:routeTo="routeTo"
    ></WsCatalogGroupList>

    <v-layout fill-height align-end justify-end>
      <v-flex xs2 sm1 md1lg1 xl1>
        <v-fab-transition>
          <v-btn
            v-show="editMode"
            color="error"
            fab
            bottom
            fixed
            @click="deleteCatalog">
            <v-icon color="white">delete</v-icon>
          </v-btn> 
      </v-fab-transition>
      </v-flex>

      <v-flex xs2 sm1 md1 lg1 xl1>
        <v-fab-transition>
          <v-btn
            v-show="editMode"
            color="amber darken-1"
            fab
            bottom
            fixed
            @click="updateCatalog">
            <v-icon color="white">edit</v-icon>
          </v-btn>
        </v-fab-transition>
      </v-flex>
        
      <v-flex xs2 sm1 md1 lg1 xl1>
        <v-btn
          color="primary"
          fab
          bottom
          fixed
          @click="addCatalog">
          <v-icon color="white">add</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
    
    </div>
</template>

<script>
import {mapActions , mapGetters} from 'vuex'
import WsCatalogGroupList from '../WiselabList_MoreAction.vue'
import Toolbar from '../../Components/ToolbarComp.vue'

export default {
    components: {
       WsCatalogGroupList,
       Toolbar
    },
    data: () => ({
      showSearchBar: false,
      toolbarProp : {
        tittle: 'Autorentool',
        showSearchButton: true
      },
      alertSnackbar: {
        show: false,
        top: true,
        timeout: 2000,
        text: '',
        multiline: true
      },
      progressStatus: false,
      gridtitle : "Autorentool",
      itemType: 'CATALOG',
      listTittle: 'Kataloge',
      editMode : false,
      selectedItem: [],
      breadcrumbsItems: [
        {
          text: 'Kataloggruppe wählen',
          disabled: true,
          href: '#/Authorentool_CatalogGroup'
        },
        {
          text: 'Kataloguntergruppe wählen',
          disabled: true,
          href: '#/Authorentool_CatalogSubgroup/'
        },
        {
          text: 'Kataloge wählen',
          disabled: true,
          href: ''
        }
      ],
      headers: [
          {
              text: 'Name',
              align: 'left',
              sortable: 'true',
              value: 'catalogGroup',
              class: 'headerTxt'
          }
      ],
      searchedCatalog: []
    }),
    computed: { 
      ...mapGetters( 'Catalog',[
        'getCatalogList',
        'getSelectedCatalog'
      ]),
      ...mapGetters( 'CGOperations',[
        'getSelectedCatalogGroup'
      ]),
      ...mapGetters( 'CSGOperations',[
        'getSelectedCatalogSubgroup'
      ]),
      ...mapGetters( 'General',[
        'accesstoken'
      ]),
      catalogList: {
          //getter
          get: function() {
            return this.searchedCatalog
          },
          //setter
          set: function(keyword) {
            this.searchedCatalog = this.getCatalogList.filter(catalog =>{
              keyword = keyword.toLowerCase()
              return (catalog.name.toLowerCase().includes(keyword) ||  catalog.description.toLowerCase().includes(keyword) || keyword === '')
            })
          }
        }
    },
    methods: {
      ...mapActions( 'Routing', [
          'SELECT_ITEM_FOR_ROUTE'
        ]),
      ...mapActions( 'Catalog', [
        'GET_CATALOG_LIST',
        'SELECT_CATALOG'
      ]),
      loadCatalog(catalogGroupObject, catalogSubgroupObject) {
        this.progressStatus = true
        var dataToSend = {
          catalogGroupId : catalogGroupObject.data.id,
          catalogSubgroupId : catalogSubgroupObject.data.id
        }
        this.GET_CATALOG_LIST(dataToSend)
        .then( () => {
          this.searchedCatalog = this.getCatalogList
          this.progressStatus = false
        })
        .catch( err => {
          this.progressStatus = false
          console.error(err)
        })
      },
      addCatalog() {
        this.SELECT_ITEM_FOR_ROUTE(this.getSelectedCatalog)
        .then( () => {
          this.$router.push(`/AddCatalog/`)
        })
      },
      updateCatalog() {
        this.$router.push(`/UpdateCatalog/`)
      },
      deleteCatalog() {
        this.$router.push(`/DeleteCatalog/`)
      },
      changeEditMode (mode) {
        this.clickOutside()
        this.editMode = mode
      },
      setSelectedItem (item) {
        this.SELECT_CATALOG(item)
        .then( () => {
          this.SELECT_ITEM_FOR_ROUTE(this.getSelectedCatalog)
        })
      },   
      
      //COMPONENT EMITED FUNCTIONS
      clickOutside() {
        this.showSearchBar = false
      },
      searchingItem(searchingValue) {
        this.catalogList = searchingValue
      },
      showSearchBarEmit(val) {
        this.showSearchBar = val
      }
    },
    mounted() {
      if(this.$route.params.message) {
        this.alertSnackbar.text = this.$route.params.message
        this.alertSnackbar.show = true
      }
      this.breadcrumbsItems[0].text = this.getSelectedCatalogGroup.data.name
      this.breadcrumbsItems[0].disabled = false
      this.breadcrumbsItems[1].text = this.getSelectedCatalogSubgroup.data.name
      this.breadcrumbsItems[1].disabled = false
      this.breadcrumbsItems[1].href = `#/Authorentool_CatalogSubgroup/`
      this.loadCatalog(this.getSelectedCatalogGroup, this.getSelectedCatalogSubgroup)
    }    
}
</script>
