<template>
    <div>

        <v-card>
            <v-layout row wrap>
                <v-flex xs12>
                <v-breadcrumbs :items="breadcrumbsItems">
                    <v-icon slot="divider">chevron_right</v-icon>
                </v-breadcrumbs>
                </v-flex>
            </v-layout>
        </v-card>

    <WsQuestionlist 
        :headers= 'headers' 
        :itemlist= 'itemList' 
        :search = 'search' 
        :itemObject= 'userObject'
        :tableTittle = 'tableTittle' 
        :itemType='itemType'
        v-on:changeEditMode="changeEditMode"
        v-on:selectedItem="setSelectedItem">
    </WsQuestionlist>

    <v-layout fill-height align-end justify-end>
    <v-flex xs2 sm1 md1lg1 xl1>
      <v-fab-transition>
        <v-btn
          v-show="editMode"
          color="error"
          fab
          bottom
          fixed
          @click="">
          <v-icon color="white">delete</v-icon>
        </v-btn> 
    </v-fab-transition>
    </v-flex>

    <v-flex xs2 sm1 md1 lg1 xl1>
      <v-fab-transition>
        <v-btn
          v-show="editMode"
          color="amber darken-1"
          fab
          bottom
          fixed
          @click="">
          <v-icon color="white">edit</v-icon>
        </v-btn>
      </v-fab-transition>
    </v-flex>
      
    <v-flex xs2 sm1 md1 lg1 xl1>
      <v-btn
        color="primary"
        fab
        bottom
        fixed
        @click="">
        <v-icon color="white">add</v-icon>
      </v-btn>
    </v-flex>
  </v-layout>
    </div>
</template>

<script>
import {mapActions} from 'vuex'
import WsQuestionlist from '../WiselabTable.vue'

export default {
    components: {
       WsQuestionlist
    },
    data: () => ({
        gridtitle : "Autorentool",
        itemType: 'QUESTION',
        tableTittle: 'Autorentool',
        editMode : false,
        itemList: [
            {
                question: "Who am I?",
                type: "single-select-answer"
            },
            {
                question: "Who are you?",
                type: "single-select-answer"
            },
            {
                question: "What do you want?",
                type: "single-select-answer"
            },
            {
                question: "Where are you from?",
                type: "single-select-answer"
            },
            {
                question: "What do you do?",
                type: "single-select-answer"
            }
        ],
        selectedItem: [],
        breadcrumbsItems: [
        {
          text: 'Kataloggruppe wählen',
          disabled: true,
          href: ''
        },
        {
          text: 'Kataloguntergruppe wählen',
          disabled: true,
          href: ''
        },
        {
          text: 'Kataloge wählen',
          disabled: true,
          href: ''
        }
      ],
        headers: [
            {
                text: 'Frage',
                align: 'left',
                sortable: 'true',
                value: 'question',
                class: 'headerTxt'
            },
            {
                text: 'Typ',
                align: 'left',
                sortable: 'false',
                value: 'type'
            }
        ]
    }),
    methods: {
        ...mapActions('QuestionCatalog', [  // not work
            'GET_ALL_QUESTION'
        ]),

        loadAllCatalogGroup() {  // Loading All Catalog Group
        },
        loadAllQuestion() {   // Loading All Question
        },
        addQuestion() {   // Add New Question
        },
        changeEditMode(mode) {
        this.editMode = mode
      },
      setSelectedItem(item) {
        this.selectedItem = item
      }    
    },
    mounted() {
        this.loadAllCatalogGroup()
    }    
}
</script>
