<template>
    <div>
    <Toolbar 
    :toolbarTittle='toolbarProp.tittle'
    :itemType='itemType'
    :progressStatus='progressStatus'
    :showSearchButton='true'
    v-on:searchingItemEmit="searchingItem"
    v-on:showSearchBarEmit="showSearchBarEmit"
    :showSearchBar='showSearchBar'>
    </Toolbar>

    <v-snackbar
    v-model="alertSnackbar.show"
    :top="alertSnackbar.top"
    :multi-line="alertSnackbar.multiline"
    :timeout="alertSnackbar.timeout">
    {{alertSnackbar.text}}
    </v-snackbar>

    <v-card @click="clickOutside">
      <v-layout row wrap>
        <v-flex xs12>
          <v-breadcrumbs :items="breadcrumbsItems">
            <v-icon slot="divider">chevron_right</v-icon>
          </v-breadcrumbs>
        </v-flex>
      </v-layout>
    </v-card>

    <WsCatalogGroupList
    :itemList='catalogSubgroupList'
    :itemType='itemType'
    :headers='headers'
    :listTittle='listTittle'
    v-on:changeEditMode="changeEditMode"
    v-on:selectedItem="setSelectedItem"
    v-on:routeTo="routeTo"
    ></WsCatalogGroupList>

    <v-layout fill-height align-end justify-end>
      <v-flex xs2 sm1 md1lg1 xl1>
        <v-fab-transition>
          <v-btn
            v-show="editMode"
            color="error"
            fab
            bottom
            fixed
            @click="deleteCatalogSubgroup">
            <v-icon color="white">delete</v-icon>
          </v-btn> 
      </v-fab-transition>
      </v-flex>

      <v-flex xs2 sm1 md1 lg1 xl1>
        <v-fab-transition>
          <v-btn
            v-show="editMode"
            color="amber darken-1"
            fab
            bottom
            fixed
            @click="updateCatalogSubgroup">
            <v-icon color="white">edit</v-icon>
          </v-btn>
        </v-fab-transition>
      </v-flex>
        
      <v-flex xs2 sm1 md1 lg1 xl1>
        <v-btn
          color="primary"
          fab
          bottom
          fixed
          @click="addCatalogSubgroup">
          <v-icon color="white">add</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
    
    </div>
</template>

<script>
import {mapActions , mapGetters} from 'vuex'
import WsCatalogGroupList from '../WiselabList_MoreAction.vue'
import Toolbar from '../../Components/ToolbarComp.vue'

export default {
    components: {
       WsCatalogGroupList,
       Toolbar
    },
    data: () => ({
      showSearchBar: false,
      toolbarProp : {
        tittle: 'Autorentool',
        showSearch: true
      },
      alertSnackbar: {
        show: false,
        top: true,
        timeout: 2000,
        text: '',
        multiline: true
      },
      progressStatus: false,
      gridtitle : "Autorentool",
      itemType: 'CATALOGSUBGROUP',
      listTittle: 'Kataloguntergruppe',
      editMode : false,
      selectedItem: [],
      breadcrumbsItems: [
        {
          text: 'Kataloggruppe wahlen',
          disabled: false,
          href: '#/Authorentool_CatalogGroup'
        },
        {
          text: 'Kataloguntergruppe wahlen',
          disabled: true,
          href: ''
        },
        {
          text: 'Kataloge wahlen',
          disabled: true,
          href: ''
        }
      ],
      headers: [
          {
              text: 'Name',
              align: 'left',
              sortable: 'true',
              value: 'catalogGroup',
              class: 'headerTxt'
          }
      ],
      searchedCatalogSubgroup: []
    }),
    computed: { 
      ...mapGetters( 'CSGOperations',[
        'getCatalogSubGroupList',
        'getSelectedCatalogSubGroup'
      ]),
      ...mapGetters( 'CGOperations',[
        'getSelectedCatalogGroup'
      ]),
      ...mapGetters( 'General',[
        'accesstoken'
      ]),
      ...mapGetters( 'Routing', [
          'getSelectedItem'
        ]),
      catalogSubgroupList: {
          //getter
          get: function() {
            return this.searchedCatalogSubgroup
          },
          //setter
          set: function(keyword) {
            this.searchedCatalogSubgroup = this.getCatalogSubGroupList.filter(catalogSubgroup =>{
              keyword = keyword.toLowerCase()
              return (catalogSubgroup.name.toLowerCase().includes(keyword) ||  catalogSubgroup.description.toLowerCase().includes(keyword) || keyword === '')
            })
          }
        }
    },
    methods: {
        ...mapActions( 'CSGOperations', [
          'GET_CATALOGSUBGROUP_LIST',
          'SELECT_CATALOGSUBGROUP'
        ]),
        ...mapActions( 'Routing', [
          'SELECT_ITEM_FOR_ROUTE'
        ]),
        loadAllCatalogSubGroup() {
          this.progressStatus = true
          this.GET_CATALOGSUBGROUP_LIST(this.getSelectedCatalogGroup.data)
          .then( () => {
            this.searchedCatalogSubgroup = this.getCatalogSubGroupList
            this.progressStatus = false
          })
          .catch( err => {
            this.progressStatus = false
            console.error(err)
          })
        },
        addCatalogSubgroup() {
            this.SELECT_ITEM_FOR_ROUTE(this.getSelectedCatalogSubGroup)
            .then( () => {
              this.$router.push(`/AddCatalogSubgroup/`)
            })
        },
        updateCatalogSubgroup() {
            this.$router.push(`/UpdateCatalogSubgroup/`)          
        },
        deleteCatalogSubgroup() {
          this.$router.push(`/DeleteCatalogSubgroup/`)
        },
        changeEditMode(mode) {
          this.clickOutside()
          this.editMode = mode
        },
        setSelectedItem(item) {
          this.SELECT_CATALOGSUBGROUP(item)
          .then( () => {
            this.SELECT_ITEM_FOR_ROUTE(this.getSelectedCatalogSubGroup)
          })
        },   
       routeTo(item) {
         this.SELECT_CATALOGSUBGROUP(item)
          .then( () => {
            this.SELECT_ITEM_FOR_ROUTE(this.getSelectedCatalogSubGroup)
            .then( () => {
              this.$router.push(`/Authorentool_Catalog/`)
            })
          })
      },

      //COMPONENT EMITED FUNCTIONS
        clickOutside() {
          this.showSearchBar = false
        },
        searchingItem(searchingValue) {
          this.catalogSubgroupList = searchingValue
        },
        showSearchBarEmit(val) {
          this.showSearchBar = val
        }
    },
    mounted() {
      if(this.$route.params.message) {
          this.alertSnackbar.text = this.$route.params.message
          this.alertSnackbar.show = true
      }
      this.breadcrumbsItems[0].text = this.getSelectedCatalogGroup.data.name
      this.loadAllCatalogSubGroup()
    }    
}
</script>
