<template>
    <div>
      <Toolbar 
      :toolbarTittle='toolbarProp.tittle'
      :alertSnackbar='alertSnackbar'
      :progressStatus='progressStatus'
      :showSearchButton='true'
      v-on:searchingItemEmit="searchingItem"
      v-on:showSearchBarEmit="showSearchBarEmit"
      :showSearchBar='showSearchBar'>
      </Toolbar>

    <v-card @click="clickOutside">
      <v-layout row wrap>
        <v-flex xs12>
          <v-breadcrumbs :items="breadcrumbsItems">
            <v-icon slot="divider">chevron_right</v-icon>
          </v-breadcrumbs>
        </v-flex>
      </v-layout>
    </v-card>

    <WsCatalogGroupList
    :itemList='catalogGroupList'
    :itemType='getSelectedCatalogGroup.itemType'
    :headers='headers'
    :listTittle='listTittle'
    v-on:changeEditMode="changeEditMode"
    v-on:selectedItem="setSelectedItem"
    v-on:routeTo="routeTo"
    ></WsCatalogGroupList>

    <v-layout fill-height align-end justify-end>
      <v-flex xs2 sm1 md1lg1 xl1>
        <v-fab-transition>
          <v-btn
            v-show="editMode"
            color="error"
            fab
            bottom
            fixed
            @click="deleteCatalogGroup">
            <v-icon color="white">delete</v-icon>
          </v-btn> 
      </v-fab-transition>
      </v-flex>

      <v-flex xs2 sm1 md1 lg1 xl1>
        <v-fab-transition>
          <v-btn
            v-show="editMode"
            color="amber darken-1"
            fab
            bottom
            fixed
            @click="updateCatalogGroup">
            <v-icon color="white">edit</v-icon>
          </v-btn>
        </v-fab-transition>
      </v-flex>
        
      <v-flex xs2 sm1 md1 lg1 xl1>
        <v-btn
          color="primary"
          fab
          bottom
          fixed
          @click="addCatalogGroup">
          <v-icon color="white">add</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
    
    </div>
</template>

<script>
import {mapActions , mapGetters} from 'vuex'
import WsCatalogGroupList from '../WiselabList_MoreAction.vue'
import Toolbar from '../../Components/ToolbarComp.vue'

export default {
    components: {
       WsCatalogGroupList,
       Toolbar
    },
    data: () => ({
      showSearchBar: false,
      toolbarProp : {
        tittle: 'Autorentool',
        showSearch: true
      },
      progressStatus: true,
      alertSnackbar: {
        show: false,
        top: true,
        timeout: 2000,
        text: '',
        multiline: true
      },
      listTittle: 'Kataloggruppe',
      editMode : false,
      breadcrumbsItems: [
        {
          text: 'Kataloggruppe wahlen',
          disabled: true,
          href: ''
        },
        {
          text: 'Kataloguntergruppe wahlen',
          disabled: true,
          href: ''
        },
        {
          text: 'Kataloge wahlen',
          disabled: true,
          href: ''
        }
      ],
      headers: [
          {
              text: 'Name',
              align: 'left',
              sortable: 'true',
              value: 'catalogGroup',
              class: 'headerTxt'
          }
      ],
      searchedCatalogGroup: []
    }),
    computed: { 
      ...mapGetters( 'CGOperations',[
        'getCatalogGroupList',
        'getSelectedCatalogGroup'
      ]),
      ...mapGetters( 'Routing',[
        'getSelectedItem',
      ]),
      ...mapGetters( 'General',[
        'accesstoken'
      ]),
      catalogGroupList: {
          //getter
          get: function() {
            return this.searchedCatalogGroup
          },
          //setter
          set: function(keyword) {
            this.searchedCatalogGroup = this.getCatalogGroupList.filter(catalogGroup =>{
              keyword = keyword.toLowerCase()
              return (catalogGroup.name.toLowerCase().includes(keyword) ||  catalogGroup.description.toLowerCase().includes(keyword) || keyword === '')
            })
          }
        }
    },
    methods: {
        ...mapActions( 'CGOperations', [
          'GET_CATALOGGROUP_LIST',
          'SELECT_CATALOGGROUP'
        ]),
        ...mapActions( 'Routing', [
          'SELECT_ITEM_FOR_ROUTE'
        ]),
        loadAllCatalogGroup() {
          this.progressStatus = true
            this.GET_CATALOGGROUP_LIST()
            .then( () => {
              this.progressStatus = false
              this.searchedCatalogGroup = this.getCatalogGroupList 
            })
            .catch( err => {
              this.progressStatus = false
              console.error(err)
            })
        },
        updateCatalogGroup() {
          this.$router.push(`/UpdateCatalogGroup/`)
        },
        addCatalogGroup() {
          this.SELECT_ITEM_FOR_ROUTE(this.getSelectedCatalogGroup)
            .then( () => {
              this.$router.push(`/AddCatalogGroup/`)
            })
        },
        deleteCatalogGroup() {
          this.$router.push(`/DeleteCatalogGroup/`)
        },
        changeEditMode(mode) {
          this.clickOutside()
          this.editMode = mode
        },
        setSelectedItem(item) {
          this.SELECT_CATALOGGROUP(item)
          .then( () => {
            this.SELECT_ITEM_FOR_ROUTE(this.getSelectedCatalogGroup)
          })
        },   
       routeTo(item) {
         this.SELECT_CATALOGGROUP(item)
          .then( () => {
            this.SELECT_ITEM_FOR_ROUTE(this.getSelectedCatalogGroup)
            .then( () => {
              this.$router.push(`/Authorentool_CatalogSubgroup/`)
            })
          })
      },

      //COMPONENT EMITED FUNCTIONS
        clickOutside() {
          this.showSearchBar = false
        },
        searchingItem(searchingValue) {
          this.catalogGroupList = searchingValue
        },
        showSearchBarEmit(val) {
          this.showSearchBar = val
        }
    },
    mounted() {
      if(this.$route.params.message) {
        this.alertSnackbar.text = this.$route.params.message
        this.alertSnackbar.show = true
      }
        this.loadAllCatalogGroup()
    }    
}
</script>
