<template>
  <div>
    <Toolbar :toolbarTittle="toolbarTittle"></Toolbar>

    <v-tabs v-model="tab" grow>
      <v-tab key="OpenQuestions">
        <v-icon>schedule</v-icon>
      </v-tab>
      <v-tab key="PublicQuestions">
        <v-icon>check_circle_outline</v-icon>
      </v-tab>
      <v-tab key="NotPublicQuestions">
        <v-icon>remove_circle_outline</v-icon>
      </v-tab>

      <v-tab-item key="OpenQuestions">
        <v-card>
          <v-card-title>
            <v-layout row>
              <v-flex xs5>
                <v-select v-model="select" :items="items" box single-line></v-select>
              </v-flex>

              <v-spacer></v-spacer>
              <v-flex xs5>
                <v-text-field
                  v-model="search"
                  append-icon="search"
                  label="Suchen"
                  single-line
                  hide-details
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-title>
        </v-card>

        <v-layout column>
          <v-chip label color="yellow" text-color="white">
            <v-icon left>schedule</v-icon>Zur Bearbeitung ausstehende Fragen
          </v-chip>
        </v-layout>

        <v-card v-on:selectedItem="selectedItem">
          <v-card-title>
            <v-container>
              <font size="2">P.Mex am 11.03.2019</font>
              <p>
                <font size="5">Wann werden Fragen bearbeitet?</font>
              </p>
            </v-container>
            <v-flex class="text-xs-center">
              <v-chip color="primary" text-color="white">Bearbeitungszeit</v-chip>
              <v-chip color="primary" text-color="white">pending</v-chip>
              <v-chip color="primary" text-color="white">zu bearbeiten</v-chip>
            </v-flex>
          </v-card-title>
        </v-card>

        <v-layout fill-height align-end justify-end>
          <v-flex xs2 sm1 md1 lg1 xl1>
            <v-btn color="amber darken-1" fab bottom fixed @click="editQuestion">
              <v-icon color="white">edit</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-tab-item>

      <v-tab-item key="PublicQuestions">
        <v-layout>
          <v-flex>
            <v-card>
              <v-card-title>
                <v-layout row>
                  <v-flex xs5>
                    <v-select v-model="select" :items="items" box single-line></v-select>
                  </v-flex>

                  <v-spacer></v-spacer>
                  <v-flex xs5>
                    <v-text-field
                      v-model="search"
                      append-icon="search"
                      label="Suchen"
                      single-line
                      hide-details
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-card-title>
            </v-card>

            <v-layout column>
              <v-chip label color="green" text-color="white">
                <v-icon left>check_circle_outline</v-icon>Fragen die von Ihnen veröffentlicht wurden
              </v-chip>
            </v-layout>

            <v-card v-on:selectedItem="selectedItem">
              <v-card-title>
                <v-container>
                  <font size="2">P.Mex am 11.03.2019</font>
                  <p>
                    <font size="5">Können Nutzerfragen in Wissenseinheiten konvertiert werden?</font>
                  </p>
                </v-container>
                <v-flex class="text-xs-center">
                  <v-chip color="primary" text-color="white">Konvertierung</v-chip>
                  <v-chip color="primary" text-color="white">Wissenseinheiten</v-chip>
                  <v-chip color="primary" text-color="white">Nutzerfragen</v-chip>
                </v-flex>
              </v-card-title>
            </v-card>
          </v-flex>
        </v-layout>
      </v-tab-item>

      <v-tab-item key="NotPublicQuestions">
        <v-layout>
          <v-flex>
            <v-card>
              <v-card-title>
                <v-layout row>
                  <v-flex xs5>
                    <v-select v-model="select" :items="items" box single-line></v-select>
                  </v-flex>

                  <v-spacer></v-spacer>
                  <v-flex xs5>
                    <v-text-field
                      v-model="search"
                      append-icon="search"
                      label="Suchen"
                      single-line
                      hide-details
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-card-title>
            </v-card>

            <v-layout column>
              <v-chip label color="red" text-color="white">
                <v-icon left>report_problem</v-icon>Diese Fragen wurde nicht veröffentlicht
              </v-chip>
            </v-layout>

            <v-card v-on:selectedItem="selectedItem">
              <v-card-title>
                <v-container>
                  <font size="2">P.Mex am 11.03.2019</font>
                  <p>
                    <font size="5">Was passiert mit unangebrachten Fragen?</font>
                  </p>
                </v-container>
                <v-flex class="text-xs-center">
                  <v-chip color="primary" text-color="white">irrelevant</v-chip>
                  <v-chip color="primary" text-color="white">offtopic</v-chip>
                </v-flex>
              </v-card-title>
            </v-card>
          </v-flex>
        </v-layout>
      </v-tab-item>
    </v-tabs>
  </div>
</template>


<script>
import Toolbar from "../../Components/ToolbarComp.vue";
import { mapActions, mapGetters } from "vuex";
export default {
  data: () => ({
    toolbarTittle: "Offene Fragen",
    tab: null,
    select: { text: "Datum" },
    items: [
      { text: "Nutzer" },
      { text: "Status" },
      { text: "Datum" },
      { text: "Schlagwort" }
    ],
    editMode: false
  }),

  components: {
    Toolbar
  },

  props: {
    search: String
  },

  computed: {
    ...mapGetters("KnowledgeDataBank", ["getSelectedItem"])
  },

  methods: {
    //         changeEditMode(mode) {
    //     this.editMode = mode
    //   },

    ...mapActions("KnowledgeDataBank", ["SELECT_ITEM"]),

    selectedItem(item) {
      this.SELECT_ITEM(item);
    },

    editQuestion() {
      this.$router.push("/UpdateQuestion");
    }
  }
};
</script>
