<template>
  <div>
      <Toolbar 
      :toolbarTittle='toolbarTittle'
      :progressStatus="progressStatus">
      </Toolbar>

    <v-snackbar
      v-model="alertSnackbar.show"
      :top="alertSnackbar.top"
      :multi-line="alertSnackbar.multiline"
      :timeout="alertSnackbar.timeout">
      {{alertSnackbar.text}}
    </v-snackbar>   
    
    
    <v-tabs
      fixed-tabs
      color="primary"
      dark
      grow
      slider-color="white"
      :value="getActiveTab">
      <!-- user :value over v-model if the store property is dynamically change -->
        <v-tab
          ripple
          :key='0'
          @click.stop="tabsChange('USER')">
          {{ $t('Benutzer') }}
        </v-tab>
        <v-tab
          ripple
          :key='1'
          @click.stop="tabsChange('ADMIN')">
          {{ $t('Admin') }}
        </v-tab>
    </v-tabs>


<!-- ACTION BUTTONS  -->
        <v-layout column>
          <v-chip label color="green" text-color="white">
              <v-icon left>how_to_reg</v-icon>8 {{ $t('Nutzerlizenzen Übrig') }}
          </v-chip>
          <UserTable 
          :headers='headers' 
          :itemList='itemList' 
          :search='search' 
          :itemObject='userObject'
          :tableTittle='tableTittle' 
          v-on:changeEditMode="changeEditMode"
          v-on:selectedItem="setSelectedUser">
          </UserTable>
          <v-layout fill-height align-end justify-end>
            <v-flex xs2 sm1 md1lg1 xl1>
              <v-fab-transition>
                <v-btn
                  v-show="editMode"
                  color="error"
                  fab
                  bottom
                  fixed
                  @click="deleteUser">
                  <v-icon color="white">delete</v-icon>
                </v-btn> 
            </v-fab-transition>
            </v-flex>
            <v-flex xs2 sm1 md1 lg1 xl1>
              <v-fab-transition>
                <v-btn
                  v-show="editMode"
                  color="amber darken-1"
                  fab
                  bottom
                  fixed
                  @click="editUser">
                  <v-icon color="white">edit</v-icon>
                </v-btn>
              </v-fab-transition>
            </v-flex>

            <v-flex xs2 sm1 md1 lg1 xl1>
              <v-btn
                color="primary"
                fab
                bottom
                fixed
                @click="addUser">
                <v-icon color="white">add</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>
        </v-layout> 
      
  </div>
</template>


<script>
import {mapActions , mapGetters} from 'vuex'
import UserTable from '../WiselabExpandTable.vue'
import Toolbar from '../../Components/ToolbarComp.vue'
  
  export default {
    data: () => ({  
      itemList: [],
      toolbarTittle: 'Nutzer',    
      wsdialog: false,
      search: '',
      tableTittle: 'Nutzer',
      alertSnackbar: {
        show: false,
        top: true,
        timeout: 2000,
        text: '',
        multiline: true
      },
      headers: [
        { text: 'Angezeigter Name', value: 'displayName' },
        { text: 'Status', value: 'active' }
      ],
      userObject : {
        id: "user2Zyyi",
        firstName: "Shasha",
        lastName: "Mex",
        email: "95674testAdmin@grr.la",
        isActive: false,
        displayName: "DB Schenker",
        mobileNo: "15213121404"
      }, 
      progressStatus : true,
      editMode: false,
      selectedUser: {}   
    }),
    computed: { 
      ...mapGetters( 'User',[
        'getUserList',
        'getSelectedUser'
      ]),
      ...mapGetters( 'Admin',[
        'getAdminList',
        'getSelectedAdmin'
      ]),
      ...mapGetters( 'General',[
        'accesstoken'
      ]),
      ...mapGetters( 'Routing', [
        'getSelectedItem',
        'getActiveTab'
      ]),
    },
    methods: {
      ...mapActions( 'User', [
        'GET_USER_LIST',
        'SELECT_USER'
      ]),
      ...mapActions( 'Admin', [
        'GET_ADMIN_LIST',
        'SELECT_ADMIN'
      ]),
      ...mapActions( 'Routing', [
        'SELECT_ITEM_FOR_ROUTE',
        'UPDATE_ACTIVE_TAB'
      ]),
      getAllUsers(){
        this.progressStatus = true
        this.tableTittle = 'Nutzer'

        this.GET_USER_LIST({ })
        .then(response => {
          this.progressStatus = false
          this.itemList = this.getUserList
          this.UPDATE_ACTIVE_TAB(0)
        })
        .catch( err => {
          console.error(err)
        })
      },
      getAllAdmins() {
        this.progressStatus = true
        this.tableTittle = 'Admin'

        this.GET_ADMIN_LIST({ })
        .then(response => {
          this.progressStatus = false
          this.itemList = this.getAdminList
          this.UPDATE_ACTIVE_TAB(1)
        })
        .catch( err => {
          console.error(err)
        })
      },
      addUser(){
        if(this.getActiveTab == 0) {
          this.SELECT_ITEM_FOR_ROUTE(this.getSelectedUser)
          .then( () => {
            this.$router.push('/AddUser/')   
          })    
        }else {
          this.SELECT_ITEM_FOR_ROUTE(this.getSelectedAdmin)
          .then( () => {
            this.$router.push('/AddUser/')   
          })
        }
      },
      editUser() {
        this.$router.push(`/UpdateUser/`)
      },
      deleteUser() {
        this.$router.push(`/DeleteUser/`)
      },
      changeEditMode(mode) {
        this.editMode = mode
      },
      setSelectedUser(item) {
        if(this.getActiveTab === 0) {
          this.SELECT_USER(item)
          .then( () => {
            this.SELECT_ITEM_FOR_ROUTE(this.getSelectedUser)
          })
        }else if(this.getActiveTab === 1) {
          this.SELECT_ADMIN(item)
          .then( () => {
            this.SELECT_ITEM_FOR_ROUTE(this.getSelectedAdmin)
          })
        }
      },
      tabsChange(changeTo) {
        if(changeTo == "USER") {
          this.getAllUsers()
        } else if(changeTo == "ADMIN") {
          this.getAllAdmins()
        }
      }    
    },
    components: {
       UserTable,
       Toolbar
    },
    mounted() {
      if(this.$route.params.message) {
        this.alertSnackbar.text = this.$route.params.message
        this.alertSnackbar.show = true
      }

      if(this.getActiveTab == 0) 
      this.tabsChange('USER')
      else
      this.tabsChange('ADMIN')     
    }
  }
</script>