<template>
  <v-app id="app">
    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>


<script>
 import Vue from 'vue'
 import Vuetify from 'vuetify'
 
Vue.use(Vuetify)

export default {
  name: 'App',
  data () { 
    return { 
    
    } 
  },
   mounted() {
    window.onpopstate = event => {
      if (        
        window.sessionStorage.getItem("token") === null ) {
        this.$router.push("/Login"); 
      }
    },
    window.onload  = event => {
       if (        
        window.sessionStorage.getItem("token") === null ) {
        this.$router.push("/Login"); 
      }
    }
    window.onunload  = event => {
      window.sessionStorage.removeItem("token") ;
    }

  }
}

</script>
